

:host {
  background: white;
  display: block;
  position: absolute;
  top:0;
  left:0;
  right:0;
  .text {
    p {
      margin-top: 24px;
      font-size: 16px;
      line-height: 22px;
      text-align: left;
      color: #4a525a;
    }
  }
}
