@import '../../../../styles';

:host {
  min-height: 100%;
  box-sizing: border-box;
  display: block;
  padding-top: 45px;

  pcl-header {
    @include fixed(top 0 left 0 right 0);
    z-index: 20;
  }
}
