<pcl-header title="Qualified Physicians"
            [showBackBtn]="true"
            [showNextBtn]="true"
            [disabledNextBtn]="!(isAnyPhysicianSelected$ | async)"
            (nextBtnClick)="next()"
            (backBtnClick)="back()"></pcl-header>

<pcl-qualifiend-physicians-list (employeeSelected)="toggleSelection($event)"
                                [physicianGroups]="physicianGroups$ | async"></pcl-qualifiend-physicians-list>


<pcl-loader [show]="isPhysiciansLoading$ | async"></pcl-loader>
