<div class="physician-group-block"
     *ngFor="let physicianGroup of physicianGroups">
  <div class="physician-group-header">{{physicianGroup.letter}}</div>
  <div class="physician-block"
       *ngFor="let physician of physicianGroup.physicians"
       (click)="toggleSelection(physician)">
    {{physician.employee.LastName + ' ' + physician.employee.FirstName}}
    <div class="selected" *ngIf="physician.selected"></div>
  </div>
</div>


<div *ngIf="!physicianGroups.length"> <!--only if no entries-->
  <div class="no-entries">
    <div class="icon">
      <md-icon [svgIcon]="'calendar-remove'"></md-icon>
    </div>
    <div class="no-entries-text">
      No provider is available to cover this shift
    </div>
  </div>
</div>
