@import '../../../../styles';

:host {
  display: block;

  .no-entries {
    margin-top: 100px;
    margin-top: 15vh;
    color: $alto;
    .icon {
      @include size(120px);
      @include center-block();
      md-icon {
        @include size(120px);
      }
    }
    .no-entries-text {
      @extend .big-bold-text;
      @extend .text-center;
    }
  }

  .physician-group-block {

    .physician-group-header {
      @extend .small-bold-weak-text;
      padding-left: 16px;
      height: 24px;
      line-height: 24px;
      background-color: $pale-grey;
      box-shadow: inset 0 -1px 0 0 $light-blue-grey;
    }

    .physician-block {
      @extend .big-text;
      position: relative;
      padding: 13px 24px;
      line-height: 22px;
      height: 22px;
      box-shadow: inset 0 -1px 0 0 $light-blue-grey;

      .selected {
        @include absolute(right 16px top 50%);
        @include size(22px);
        @include background-image('check', 'png', 100%);
        background-repeat: no-repeat;
        margin-top: -11px;
      }
    }
  }
}
