@import '../../../../../../colors';
@import '../../../../../../mixins';
@import '../../../../../../helpers';

:host {
  @include clearfix();
  display: block;

  .view-type {
    @extend .float-right;
    @extend .small-bold-weak-text;
    height: 32px;
    line-height: 32px;
    margin-right: 24px;
  }
}
