<pcl-header title="Change Password"
            [showBackBtn]="true"
            (backBtnClick)="onBackBtnClick()"></pcl-header>

<div class="container">

  <!--<p class="title">Please enter your new password below.</p>-->

  <p class="note">New password must be at least 8 characters long</p>

  <pcl-two-passwords-form [error]="errorMsg$ | async"
                          passwordPlaceholder="New Password"
                          password2Placeholder="Confirm New Password"
                          [loading]="signInLoading$ | async"
                          (onFormSubmit)="onSubmit($event)">
  </pcl-two-passwords-form>

</div>
