@import '../../../../../../colors';
@import '../../../../../../mixins';
@import '../../../../../../helpers';

:host {
  display: block;
  color: $alto;

  .icon {
    @include size(120px);
    @include center-block();
    mat-icon {
      @include size(120px);
    }
  }
  .no-entries-text {
    @extend .big-bold-text;
    @extend .text-center;
  }
}
