@import '../../../../../../styles';

:host {
  display: block;
  color: $alto;

  .icon {
    @include size(120px);
    @include center-block();
    md-icon {
      @include size(120px);
    }
  }
  .no-entries-text {
    @extend .big-bold-text;
    @extend .text-center;
  }
}
