@import '../../../../styles';

:host {
  display: block;
  height: 45px;
  //-webkit-backdrop-filter: blur(10px); //It is not supported yet
  //backdrop-filter: blur(10px); //It is not supported yet
  background-color: #ffffff;
  box-shadow: 0 0.5px 0 0 $light-blue-grey;

  header {
    position: relative;
    height: 45px;
    padding: 0 56px;

    .back-button {
      @include size(56px, 45px);
      @include absolute(top 0 left 0);
      padding: 11px 16px 10px 16px;

      .back-icon {
        @include size(24px);
        @include background-image('back', 'png', 100%);
        background-repeat: no-repeat;
      }
    }
    .title {
      @extend .text-center;
      @extend .bold-text;
      line-height: 45px;
    }
  }

}
