@import '../../../../colors';
@import '../../../../mixins';
@import '../../../../helpers';

:host {
  display: block;
  height: $header-height;
  //-webkit-backdrop-filter: blur(10px); //It is not supported yet
  //backdrop-filter: blur(10px); //It is not supported yet
  background-color: #ffffff;
  box-shadow: 0 1px 0 0 $light-blue-grey;

  header {
    position: relative;
    height: $header-height;
    padding: 0 56px;

    .back-button {
      @include size(56px, $header-height);
      @include absolute(top 0 left 0);
      padding: 11px 16px 10px 16px;

      mat-icon {
        @include size(24px);
        fill: $tealish;
      }
    }
    .next-button {
      @include absolute(top 0 right 0);
      @extend .reset-button-styles;
      @extend .reset-styles;
      @extend .big-bold-text;
      @extend .text-center;
      height: $header-height;
      color: $tealish;
      line-height: 23px;
      padding: 11px 17px;

      &[disabled] {
        color: $bluish-grey;
      }
    }
    .title {
      @extend .text-center;
      @extend .bold-text;
      line-height: $header-height;
    }
  }

}
