@import '../../../../colors';
@import '../../../../mixins';
@import '../../../../helpers';

:host {
  @extend .full-height;
  display: block;

  .container {
    @extend .full-height;
    position: relative;

    section {
      @include centerer();
      width: 100%;

      .spinner {
        @include size(100px);
        @include center-block();
        -webkit-animation: spin 2s infinite linear;
        animation: spin 2s infinite linear;

        mat-icon /deep/ {
          width: 70px;
          height: 70px;
          margin: 15px;

          path {
            fill: $tealish;
          }
        }
      }
    }
  }
}

@-webkit-keyframes spin {
  from {-webkit-transform:rotate(0deg);transform:rotate(0deg);}
  to {-webkit-transform:rotate(360deg);transform:rotate(360deg);}
}

@keyframes spin {
  from {-webkit-transform:rotate(0deg);transform:rotate(0deg);}
  to {-webkit-transform:rotate(360deg);transform:rotate(360deg);}
}
