@import '../../../../../colors';
@import '../../../../../mixins';
@import '../../../../../helpers';

:host {
  display: block;
  .note {
    font-size: 14px;
    line-height: 22px;
    color: $bluish-grey;
  }

  .weekends-container {
    margin-top: 32px;
    display: inline-flex;
    flex-direction: column;

    .weekend {
      margin-bottom: 16px;
      font-family: OpenSans;
      font-size: 16px;

      &.last {
        margin-bottom: 0;
      }
    }
  }
}
