<p class="note">If you don't need any vacation day skip this section</p>

<div *ngFor="let vacationDay of vacationDays; let i = index">
  <pcl-custom-date-selector (onDateChange)="onDateChange($event, i)"
                            [date]="vacationDay"
                            [calendar]="calendar"></pcl-custom-date-selector>
</div>

<pcl-schedule-step-buttons [showSkipBtn]="true"
                           [disableSkipBtn]="calendar?.isVacationWindowsChanged()"
                           [showAddBtn]="calendar?.isVacationWindowsValid()"
                           [addBtnTitle]="'ADD VACATION REQUEST'"
                           [disableNextBtn]="!calendar?.isVacationWindowsChanged() || !calendar?.isVacationWindowsValid()"
                           (onSkipBtnClick)="skip()"
                           (onNextBtnClick)="submitVacationDays()"
                           (onAddBtnClick)="onAddBlankVacationDayClick()"></pcl-schedule-step-buttons>
