@import '../../../../../colors';
@import '../../../../../mixins';
@import '../../../../../helpers';

:host {
  display: block;
  .note {
    font-size: 14px;
    line-height: 22px;
    color: $bluish-grey;
  }

  .vacation-container {
    margin-top: 16px;
    md-radio-group {
      md-radio-button {
        margin-right: 20px;
        font-size: 16px;
      }
    }

    pcl-custom-date-selector {
      margin-top: 32px;
    }
  }
}
