@import '../../../../colors';
@import '../../../../mixins';
@import '../../../../helpers';

:host(.show) {
  opacity: 1;
  z-index: 1;
}

:host {
  @include fixed(top 0 bottom 0 left 0 right 0);
  display: block;
  opacity: 0;
  z-index: -1;
  transition: opacity 300ms, z-index 300ms;
  background-color: #fff;

  .container {
    @extend .full-height;
    position: relative;

    section {
      @include centerer();
      width: 100%;

      .spinner {
        @include size(100px);
        @include center-block();
        -webkit-animation: spin 2s infinite linear;
        animation: spin 2s infinite linear;

        md-icon /deep/ {
          width: 70px;
          height: 70px;
          margin: 15px;

          path {
            fill: $tealish;
          }
        }
      }
    }
  }
}

@-webkit-keyframes spin {
  from {-webkit-transform:rotate(0deg);transform:rotate(0deg);}
  to {-webkit-transform:rotate(360deg);transform:rotate(360deg);}
}

@keyframes spin {
  from {-webkit-transform:rotate(0deg);transform:rotate(0deg);}
  to {-webkit-transform:rotate(360deg);transform:rotate(360deg);}
}
