<pcl-header
  [title]="requestDetails?.ScheduleRequest.ScheduleRequestID"
  showBackBtn="true"
  (backBtnClick)="back()">
</pcl-header>

<pcl-introduction
  *ngIf="!introductionShown"
  (onStartClick)="start()"
  [scheduleMonth]="scheduleMonth"
  [deadline]="deadline">
</pcl-introduction>

<pcl-loader [show]="loading$ | async"></pcl-loader>

<md-vertical-stepper icon="number" #stepper
                     [ngClass]="'step-' + selectedIndex + '-active'"
                     (selectionChange)="selectionChange($event)"
                     *ngIf="introductionShown">

  <md-step>
    <ng-template mdStepLabel>
      <div class="stepper-label">
        <div class="label">VACATION DAYS REQUEST (VL)</div>
        <button md-button *ngIf="selectedIndex === 0" (click)="vacationDateChange([])">Clear</button>
      </div>
    </ng-template>
    <pcl-schedule-step-1 [vacationDays]="requestCalendar?.vacationDays"
                         (onVacationDaysUpdate)="vacationDateChange($event)"
                         (skipStep)="nextStep()"
                         (addBlankVacationDay)="requestCalendar?.addBlankVacationDay()"
                         (onSubmitVacationDays)="onSubmitVacationDays()"
                         [calendar]="requestCalendar"></pcl-schedule-step-1>
  </md-step>

  <md-step>
    <ng-template mdStepLabel>
      <div class="stepper-label">
        <div class="label">CALL/BACKUPS UNAVAILABILITY</div>
        <button md-button *ngIf="selectedIndex === 1" (click)="callUnavailabilityDateChange([])">Clear</button>
      </div>
    </ng-template>
    <pcl-schedule-step-2 [callUnavailabilityTypes]="callUnavailabilityTypes$ | async"
                         [callUnavailabilityDays]="requestCalendar?.callUnavailabilityDates"
                         (onCallUnavailabilityDaysUpdate)="callUnavailabilityDateChange($event)"
                         (skipStep)="nextStep()"
                         (addBlankCallUnavailabilityDay)="requestCalendar?.addBlankCallUnavailabilityDay()"
                         (onSubmitCallUnavailabilityDays)="onSubmitCallUnavailabilityDays()"
                         [calendar]="requestCalendar"></pcl-schedule-step-2>
  </md-step>

  <md-step>
    <ng-template mdStepLabel>
      <div class="stepper-label">
        <div class="label">EDUCATIONAL LEAVE REQUEST (EL)</div>
        <button md-button *ngIf="selectedIndex === 2" (click)="educationLeavesChange([])">Clear</button>
      </div>
    </ng-template>
    <pcl-schedule-step-3 [educationLeaves]="requestCalendar?.educationLeaves"
                         (onEducationLeavesUpdate)="educationLeavesChange($event)"
                         (skipStep)="nextStep()"
                         (addBlankEducationLeave)="requestCalendar?.addBlankEducationLeave()"
                         (onSubmitEducationLeaves)="onSubmitEducationLeaves()"
                         [calendar]="requestCalendar"></pcl-schedule-step-3>
  </md-step>

  <md-step>
    <ng-template mdStepLabel>
      <div class="stepper-label">
        <div class="label">PREFERRED CALL NIGHTS*</div>
        <button md-button *ngIf="selectedIndex === 3" (click)="callNightsChange()">Clear</button>
      </div>
    </ng-template>
    <pcl-schedule-step-4 [callNights]="requestCalendar?.callNights"
                         (onUpdate)="callNightsChange($event)"
                         (skipStep)="nextStep()"
                         (onSubmit)="onSubmitCallNights()"
                         [calendar]="requestCalendar"></pcl-schedule-step-4>
  </md-step>

  <md-step>
    <ng-template mdStepLabel>
      <div class="stepper-label">
        <div class="label">PREFERRED ON-WEEKEND*</div>
      </div>
    </ng-template>
    <pcl-schedule-step-5 [weekend]="requestCalendar?.offWeekend"
                         [calendar]="requestCalendar"
                         (onUpdate)="offWeekendChange($event)"
                         (onSubmit)="offWeekendSubmit()"></pcl-schedule-step-5>
  </md-step>

  <md-step>
    <ng-template mdStepLabel>
      <div class="stepper-label">
        <div class="label">HOSPITALISTS ONLY</div>
        <button md-button *ngIf="selectedIndex === 5" (click)="hospitalistRoundingsChange([null, null])">Clear</button>
      </div>
    </ng-template>
    <pcl-schedule-step-6 [calendar]="requestCalendar"
                         [hospitalistRoundings]="requestCalendar?.hospitalistRoundings"
                         (skipStep)="nextStep()"
                         (onUpdate)="hospitalistRoundingsChange($event)"
                         (onSubmit)="hospitalistRoundingsSubmit()"></pcl-schedule-step-6>
  </md-step>

  <md-step>
    <ng-template mdStepLabel>
      <div class="stepper-label">
        <div class="label">VOLUNTEER SHIFT</div>
        <button md-button *ngIf="selectedIndex === 6" (click)="volunteerShiftChange({})">Clear</button>
      </div>
    </ng-template>
    <pcl-schedule-step-7 [volunteerShift]="requestCalendar?.volunteerShift"
                         [hospitals]="hospitals$ | async"
                         [shifts]="shifts$ | async"
                         (onUpdate)="volunteerShiftChange($event)"
                         (skipStep)="nextStep()"
                         (onSubmit)="volunteerShiftSubmit()"
                         [calendar]="requestCalendar"></pcl-schedule-step-7>
  </md-step>

  <md-step>
    <ng-template mdStepLabel>
      <div class="stepper-label">
        <div class="label">COMP TIME*</div>
      </div>
    </ng-template>
    Content 1
  </md-step>

  <md-step>
    <ng-template mdStepLabel>
      <div class="stepper-label">
        <div class="label">ADDITIONAL DETAILS</div>
      </div>
    </ng-template>
    Content 1
  </md-step>

  <md-step>
    <ng-template mdStepLabel>
      <div class="stepper-label">
        <div class="label">REVIEW & SUBMIT</div>
      </div>
    </ng-template>
    Content 1
  </md-step>

</md-vertical-stepper>
