@import '../../../../colors';
@import '../../../../mixins';
@import '../../../../helpers';

$maingreen: #27a5bc;
$bkg-grey: #f7f9fb;
$bluish-grey: #808e9c;
$calendar-red: #f24437;
$calendar-blue: #4990e2;
$calendar-pink: #f978a7;
$calendar-yellow: #ffd300;
$calendar-green: #5dcf5e;
$light-purple: #ab78f9;
$pastel-orange: #fe9a5c;
$yellowish-green: #a5db10;
$tealish: #2ab0c9;

:host /deep/ {
  display: block;
  @extend .full-height;
  background-color: $pale-grey;

  .mat-stepper-vertical {
    margin-top: 2px;
    background-color: inherit;

    .mat-step-header {
      padding-right: 0;
      padding-bottom: 2px;
      &:hover {
        background-color: inherit;
      }
    }

    .mat-stepper-vertical-line::before {
      top: 7px;
    }

    .mat-step {

      .mat-step-label {
        width: 100%;

        .stepper-label {
          @include clearfix();
          height: 24px;
          color: black;

          .label {
            @extend .float-left;
            @extend .bold-text;
            line-height: 24px;
          }
          button {
            @extend .float-right;
            @extend .bold-text;
            height: 24px;
            line-height: 24px;
            color: $tealish;
            padding: 0 12px;
            min-width: 0;
          }
        }
      }
    }
  }

  .mat-step-icon, .mat-step-icon-not-touched {
    color: white;
    border-width: 2px;
    border-color: transparent;
    border-style: solid;
  }

  #mat-step-label-0-0 {
    .mat-step-icon {
      background-color: transparent;
      border-color: $calendar-yellow;
      color: #4a525a;
      .mat-icon {
        color: $calendar-yellow;
      }
    }
  }
  #mat-step-label-0-1 {
    .mat-step-icon {
      background-color: transparent;
      border-color: $calendar-green;
      color: #4a525a;
      .mat-icon {
        color: $calendar-green;
      }
    }
  }
  #mat-step-label-0-2 {
    .mat-step-icon {
      background-color: transparent;
      border-color: $calendar-blue;
    }
    .mat-icon {
      color: $calendar-blue;
    }
  }
  #mat-step-label-0-3 {
    .mat-step-icon {
      background-color: transparent;
      border-color: $calendar-pink;
    }
    .mat-icon {
      color: $calendar-pink;
    }
  }
  #mat-step-label-0-4 {
    .mat-step-icon {
      background-color: transparent;
      border-color: $calendar-pink;
    }
    .mat-icon {
      color: $calendar-pink;
    }
  }
  #mat-step-label-0-5 {
    .mat-step-icon {
      background-color: transparent;
      border-color: $light-purple;
    }
    .mat-icon {
      color: $light-purple;
    }
  }
  #mat-step-label-0-6 {
    .mat-step-icon {
      background-color: transparent;
      border-color: $pastel-orange;
    }
    .mat-icon {
      color: $pastel-orange;
    }
  }
  #mat-step-label-0-7 {
    .mat-step-icon {
      background-color: transparent;
      border-color: $calendar-red;
    }
    .mat-icon {
      color: $calendar-red;
    }
  }
  #mat-step-label-0-8 {
    .mat-step-icon {
      background-color: transparent;
      border-color: $yellowish-green;
    }
    .mat-icon {
      color: $yellowish-green;
    }
  }
  #mat-step-label-0-9 {
    .mat-step-icon {
      background-color: transparent;
      border-color: $tealish;
    }
    .mat-icon {
      color: $tealish;
    }
  }
  #mat-step-label-0-10 {
    .mat-step-icon {
      background-color: transparent;
      border-color: $tealish;
    }
    .mat-icon {
      color: $tealish;
    }
  }

  .step-0-active {
    #mat-step-label-0-0 {
      .mat-step-icon {
        background-color: $calendar-yellow;
      }
    }
  }
  .step-1-active {
    #mat-step-label-0-1 {
      .mat-step-icon {
        background-color: $calendar-green;
      }
    }
  }
  .step-2-active {
    #mat-step-label-0-2 {
      .mat-step-icon {
        background-color: $calendar-blue;
      }
    }
  }
  .step-3-active {
    #mat-step-label-0-3 {
      .mat-step-icon {
        background-color: $calendar-pink;
      }
    }
  }
  .step-4-active {
    #mat-step-label-0-4 {
      .mat-step-icon {
        background-color: $calendar-pink;
      }
    }
  }
  .step-5-active {
    #mat-step-label-0-5 {
      .mat-step-icon {
        background-color: $light-purple;
      }
    }
  }
  .step-6-active {
    #mat-step-label-0-6 {
      .mat-step-icon {
        background-color: $pastel-orange;
      }
    }
  }
  .step-7-active {
    #mat-step-label-0-7 {
      .mat-step-icon {
        background-color: $calendar-red;
      }
    }
  }
  .step-8-active {
    #mat-step-label-0-8 {
      .mat-step-icon {
        background-color: $yellowish-green;
      }
    }
  }
  .step-9-active {
    #mat-step-label-0-9 {
      .mat-step-icon {
        background-color: $tealish;
      }
    }
  }
  .step-10-active {
    #mat-step-label-0-10 {
      .mat-step-icon {
        background-color: $tealish;
      }
    }
  }


}
