@import '../../../../colors';
@import '../../../../mixins';
@import '../../../../helpers';

$maingreen: #27a5bc;
$bkg-grey: #f7f9fb;
$bluish-grey: #808e9c;
$calendar-red: #f24437;
$calendar-blue: #4990e2;
$calendar-pink: #f978a7;
$calendar-yellow: #ffd300;
$calendar-green: #5dcf5e;
$light-purple: #ab78f9;
$pastel-orange: #fe9a5c;
$yellowish-green: #a5db10;
$tealish: #2ab0c9;

:host /deep/ {
  display: block;
  @extend .full-height;
  background-color: $pale-grey;

  .mat-stepper-vertical {
    margin-top: 2px;
    background-color: inherit;
    padding-bottom: 50px;

    .mat-step-header {
      padding-right: 0;
      padding-bottom: 2px;
      &:hover {
        background-color: inherit;
      }
    }

    .mat-stepper-vertical-line::before {
      top: 7px;
    }

    .mat-step {
      .mat-step-label {
        width: 100%;
        .stepper-label {
          @include clearfix();
          height: 24px;
          color: black;

          .label {
            @extend .float-left;
            @extend .bold-text;
            line-height: 24px;
          }
          button {
            @extend .float-right;
            @extend .bold-text;
            height: 24px;
            line-height: 24px;
            color: $tealish;
            padding: 0 12px;
            min-width: 0;
          }
        }
      }
    }
  }

  .mat-step-icon, .mat-step-icon-not-touched {
    color: white;
    border-width: 2px;
    border-color: transparent;
    border-style: solid;
  }

  $steppers: 0 1 2 3 4;
  $step-colors-list: $calendar-yellow $calendar-green $calendar-blue $calendar-pink $light-purple $pastel-orange $calendar-red $yellowish-green $tealish $tealish;

  @each $stepper-id in $steppers {
    @each $step-color in $step-colors-list {
      $step-id: index($step-colors-list, $step-color) - 1;
      #mat-step-label-#{$stepper-id}-#{$step-id} {
        .mat-step-icon {
          background-color: transparent;
          border-color: $step-color;
          @if $step-id < 2 { color: #4a525a; }
          .mat-icon {
            color: $step-color;
          }
        }
      }
      .step-#{$step-id}-active {
        #mat-step-label-#{$stepper-id}-#{$step-id} {
          .mat-step-icon {
            background-color: $step-color;
          }
        }
      }
    }
  }
}
