<pcl-header
  [title]="requestDetails?.ScheduleRequest.ScheduleRequestID"
  showBackBtn="true"
  (backBtnClick)="back()">
</pcl-header>

<pcl-introduction
  *ngIf="!introductionShown"
  (onStartClick)="start()"
  [scheduleMonth]="scheduleMonth"
  [deadline]="deadline">
</pcl-introduction>

<pcl-loader [show]="loading$ | async"></pcl-loader>

<md-vertical-stepper icon="number" #stepper
                     [ngClass]="'step-' + selectedIndex + '-active'"
                     (selectionChange)="selectionChange($event)"
                     *ngIf="introductionShown">

  <md-step>
    <ng-template mdStepLabel>
      <div class="stepper-label">
        <div class="label">VACATION DAYS REQUEST (VL)</div>
        <button md-button *ngIf="selectedIndex === 0" (click)="vacationDateChange([])">Clear</button>
      </div>
    </ng-template>
    <pcl-schedule-step-1 [vacationDays]="requestCalendar?.vacationDays"
                         (onVacationDaysUpdate)="vacationDateChange($event)"
                         (skipStep)="nextStep()"
                         [calendar]="requestCalendar"></pcl-schedule-step-1>
  </md-step>

  <md-step>
    <ng-template mdStepLabel>
      <div class="stepper-label">
        <div class="label">CALL/BACKUPS UNAVAILABILITY</div>
        <button md-button *ngIf="selectedIndex === 1">Clear</button>
      </div>
    </ng-template>
    Content 1
  </md-step>

  <md-step>
    <ng-template mdStepLabel>
      <div class="stepper-label">
        <div class="label">EDUCATIONAL LEAVE REQUEST (EL)</div>
        <button md-button *ngIf="selectedIndex === 2">Clear</button>
      </div>
    </ng-template>
    Content 1
  </md-step>

  <md-step>
    <ng-template mdStepLabel>
      <div class="stepper-label">
        <div class="label">PREFERRED CALL NIGHTS*</div>
        <button md-button *ngIf="selectedIndex === 3">Clear</button>
      </div>
    </ng-template>
    Content 1
  </md-step>

  <md-step>
    <ng-template mdStepLabel>
      <div class="stepper-label">
        <div class="label">OTHER PREFERRED CALL NIGHTS</div>
        <button md-button *ngIf="selectedIndex === 4">Clear</button>
      </div>
    </ng-template>
    Content 1
  </md-step>

  <md-step>
    <ng-template mdStepLabel>
      <div class="stepper-label">
        <div class="label">PREFERRED ON-WEEKEND*</div>
        <button md-button *ngIf="selectedIndex === 5">Clear</button>
      </div>
    </ng-template>
    Content 1
  </md-step>

  <md-step>
    <ng-template mdStepLabel>
      <div class="stepper-label">
        <div class="label">HOSPITALISTS ONLY</div>
        <button md-button *ngIf="selectedIndex === 6">Clear</button>
      </div>
    </ng-template>
    Content 1
  </md-step>

  <md-step>
    <ng-template mdStepLabel>
      <div class="stepper-label">
        <div class="label">VOLUNTEER SHIFT</div>
        <button md-button *ngIf="selectedIndex === 7">Clear</button>
      </div>
    </ng-template>
    Content 1
  </md-step>

  <md-step>
    <ng-template mdStepLabel>
      <div class="stepper-label">
        <div class="label">COMP TIME*</div>
      </div>
    </ng-template>
    Content 1
  </md-step>

  <md-step>
    <ng-template mdStepLabel>
      <div class="stepper-label">
        <div class="label">ADDITIONAL DETAILS</div>
      </div>
    </ng-template>
    Content 1
  </md-step>

  <md-step>
    <ng-template mdStepLabel>
      <div class="stepper-label">
        <div class="label">REVIEW & SUBMIT</div>
      </div>
    </ng-template>
    Content 1
  </md-step>

</md-vertical-stepper>
