<pcl-header [showBackBtn]="true"
            (backBtnClick)="back()"></pcl-header>

<pcl-loader [show]="loading$ | async"></pcl-loader>

<div class="avatar-section">
  <div class="avatar"
       *ngIf="profile && profile?.PhotoUrl"
       [style.backgroundImage]="getPhotoUrl(profile)"></div>
  <div class="avatar-default"
       *ngIf="profile && !profile?.PhotoUrl">
    {{profile?.FirstName[0] + profile?.LastName[0]}}
  </div>
  <div class="name">{{getEmployeeName(profile)}}</div>
</div>

<div class="info-line">
  <div class="label">{{profile?.MobilePhone | phone}}</div>
  <div class="contact-buttons">
    <a mat-icon-button
       href="tel:{{profile?.MobilePhone}}">
      <mat-icon svgIcon="phone"></mat-icon>
    </a>
    <a mat-icon-button
       [href]="('sms:' + profile?.MobilePhone) | safeUrl">
      <mat-icon svgIcon="message-text"></mat-icon>
    </a>
  </div>
</div>

<div class="info-line last">
  <div class="label">{{profile?.Email}}</div>
  <div class="contact-buttons">
    <a mat-icon-button
       href="mailto:{{profile?.Email}}">
      <mat-icon svgIcon="email"></mat-icon>
    </a>
  </div>
</div>

<div class="header-line">NEXT SHIFTS</div>

<section class="schedule container">

  <pcl-schedule-day-card *ngFor="let day of (nextThreeDaysEntries$ | async)"
                         class="week-view-entry"
                         [day]="day"
                         (click)="onDayClick(day)"></pcl-schedule-day-card>

</section>

<button class="info-line last margin-top"
        (click)="goToFullSchedule()"
        mat-ripple>
  <span class="label">Full schedule</span>
</button>
