@import '../../../../colors';
@import '../../../../mixins';
@import '../../../../helpers';

md-input-container {
  margin-bottom: 5px;
}
md-checkbox {
  display: block;
  margin-bottom: 16px;
}
.error-msg {
  @extend .text-center;
  @extend .small-error-text;
  height: 17px;
  margin-bottom: 16px;
}
