<form novalidate [formGroup]="changePasswordForm" (ngSubmit)="onSubmit(changePasswordForm.value)">
  <md-input-container>
    <input md-input
           #password
           type="password"
           [placeholder]="passwordPlaceholder || 'Password'"
           formControlName="password"
           name="password">
  </md-input-container>

  <md-input-container>
    <input md-input
           #confirmPassword
           type="password"
           [placeholder]="password2Placeholder || 'Confirm Password'"
           formControlName="confirmPassword"
           name="confirmPassword">
  </md-input-container>

  <md-checkbox formControlName="showPassword"
               color="primary"
               class="weak-text">
    Show password
  </md-checkbox>

  <div class="error-msg">
    <div>{{error}}</div>
    <div *ngIf="
      !changePasswordForm.controls.password.errors &&
      !changePasswordForm.controls.confirmPassword.errors &&
      changePasswordForm.errors?.mismatchedPasswords">
      Passwords do not match.
    </div>
  </div>

  <pcl-button title="Submit"
              [type]="'submit'"
              [disabled]="changePasswordForm.invalid"
              [loading]="loading">
  </pcl-button>

</form>
