@import '../../../../colors';
@import '../../../../mixins';
@import '../../../../helpers';

mat-form-field {
  margin-bottom: 5px;
}
mat-checkbox {
  display: block;
  margin-bottom: 16px;
}
.error-msg {
  @extend .text-center;
  @extend .small-error-text;
  height: 17px;
  margin-bottom: 16px;
}
