<div class="container" [class.desktop]="!isMobile">

  <div class="header">
    <div class="icon"></div>
    <div class="header-title" *ngIf="!isMobile">PAYCAL</div>
  </div>

  <div class="body">

    <p class="title">Get started</p>
    <p class="note">Provide your details and we’ll be in touch with you shortly.</p>

    <form novalidate
          [formGroup]="registrationForm"
          (ngSubmit)="onSubmit(registrationForm.value)">

      <md-input-container>
        <input md-input
               placeholder="Full Name"
               type="text"
               formControlName="name"
               name="name">
      </md-input-container>

      <md-input-container>
        <input md-input
               placeholder="Phone"
               [textMask]="{mask: mask}"
               type="tel"
               formControlName="phone"
               name="login">
      </md-input-container>

      <md-select placeholder="Kaiser Region" name="region" formControlName="regionID">
        <md-option *ngFor="let region of regions$ | async" [value]="region.RegionID">
          {{region.Description}}
        </md-option>
      </md-select>

      <md-input-container>
        <input md-input
               placeholder="Group"
               type="text"
               formControlName="groupName"
               name="groupName">
      </md-input-container>

      <md-select placeholder="State" name="state" formControlName="stateID">
        <md-option *ngFor="let state of states$ | async" [value]="state.StateID">
          {{state.Abbreviation + ' - ' + state.Description}}
        </md-option>
      </md-select>

      <div class="error-msg">{{errorMsg$ | async}}</div>

      <pcl-button title="Submit"
                  [type]="'submit'"
                  [disabled]="registrationForm.invalid"
                  [loading]="signInLoading$ | async">
      </pcl-button>

    </form>

  </div>

</div>

<div class="footer" [class.desktop]="!isMobile" *ngIf="isMobile">All Rights Reserve Paycal 2017</div>
