@import '../../../../colors';
@import '../../../../mixins';
@import '../../../../helpers';

:host {
  @extend .full-height;
  display: block;

  .container {
    .header {
      margin: 16px 0 24px 0;

      .icon {
        @include size(82px, 24px);
        @include background-image('hor-logo', 'png', 100%);
        background-repeat: no-repeat;
      }
    }
    .body {
      .title {
        @extend .big-bold-text;
        @extend .text-center;
        color: $tealish;
        line-height: 22px;
        margin-bottom: 16px;
      }
      .note {
        @extend .big-text;
        @extend .text-center;
        line-height: 22px;
        margin-bottom: 56px;
      }

      md-form-field,
      md-select {
        margin-bottom: 20px;
      }

      pcl-button {
        margin-top: 20px;
        margin-bottom: 64px;
      }
    }

    &.desktop {
      @extend .full-height;
      min-height: 690px;
      position: relative;
      max-width: 780px;
      margin: 0 auto;

      .header {
        @include fixed(top 0 left 0 right 0);
        @include clearfix();
        max-width: 780px;
        width: 100%;
        height: 40px;
        margin: 24px auto 0 auto;

        .icon {
          @extend .float-left;
          @include size(26px, 35px);
          @include background-image('paycal-logo', 'png', 100%);
          background-repeat: no-repeat;

          margin: 2px 18px 3px 12px;
        }
        .header-title {
          @extend .big-bold-text;
          color: $tealish;
          letter-spacing: 2px;
          line-height: 40px;
        }
      }

      .body {
        @include centerer();
        width: 320px;

        pcl-button {
          margin-bottom: 0;
        }
      }
    }
  }

  .footer {
    @extend .small-text;
    @extend .text-center;
    height: 54px;
    line-height: 54px;
    background-color: $tealish-two;
    color: white;

    &.desktop {
      @include fixed(bottom 0 left 0 right 0);
    }
  }
}
