<div class="container" [class.desktop]="!isMobile">

  <div class="header">
    <div class="icon"></div>
    <div class="header-title" *ngIf="!isMobile">PMT</div>
  </div>

  <div class="body">

    <p class="title">Get started</p>
    <p class="note">Provide your details and we’ll be in touch with you shortly.</p>

    <form novalidate
          [formGroup]="registrationForm"
          (ngSubmit)="onSubmit(registrationForm.value)">

      <mat-form-field>
        <input matInput
               placeholder="Full Name"
               type="text"
               formControlName="name"
               name="name">
      </mat-form-field>

      <mat-form-field>
        <input matInput
               placeholder="Phone"
               [textMask]="{mask: mask}"
               type="tel"
               formControlName="phone"
               name="login">
      </mat-form-field>

      <mat-select placeholder="Kaiser Region" name="region" formControlName="regionID">
        <mat-option *ngFor="let region of regions$ | async" [value]="region.RegionID">
          {{region.Description}}
        </mat-option>
      </mat-select>

      <mat-form-field>
        <input matInput
               placeholder="Group"
               type="text"
               formControlName="groupName"
               name="groupName">
      </mat-form-field>

      <mat-select placeholder="State" name="state" formControlName="stateID">
        <mat-option *ngFor="let state of states$ | async" [value]="state.StateID">
          {{state.Abbreviation + ' - ' + state.Description}}
        </mat-option>
      </mat-select>

      <div class="error-msg">{{errorMsg$ | async}}</div>

      <pcl-button title="Submit"
                  [type]="'submit'"
                  [disabled]="registrationForm.invalid"
                  [loading]="signInLoading$ | async">
      </pcl-button>

    </form>

  </div>

</div>

<div class="footer" [class.desktop]="!isMobile" *ngIf="isMobile">All Rights Reserved PMT 2017</div>
