@import '../../../../../../styles';

$event-yellow: #ffd300;
$event-green: #5dcf5e;
$event-red: #f24437;
$event-pink: #f978a7;
$event-blue: #4990e2;

.event-yellow {
  background-color: $event-yellow;
}
.event-green {
  background-color: $event-green;
}
.event-red {
  background-color: $event-red;
}
.event-pink {
  background-color: $event-pink;
}
.event-blue {
  background-color: $event-blue;
}

:host {
  display: block;
  padding-top: 16px;

  .current-date {
    @extend .big-bold-text;
    line-height: 22px;
  }

  .calendar {
    @include absolute(top 0 left 0 right 0);
    z-index: 10;
    height: 391px;
    background-color: #ffffff;
    transform: translate3d(0, -100%, 0);
    transition: transform 400ms, height 400ms;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
    padding-top: 45px;
    overflow: hidden;

    &.active {
      transform: translate3d(0, 0, 0);
    }

    &.show-legend {
      height: 770px;

      .done-button {
        bottom: 55px;
      }
    }

    .calendar-title {
      @extend .big-bold-text;
      @extend .text-center;
      position: relative;
      line-height: 53px;
      color: $tealish;

      span {
        display: inline-block;
      }

      .icon-back-and-prev {
        position: absolute;
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0iIzgwOGU5YyI+PHBhdGggZD0iTTcuNDEsOC41OEwxMiwxMy4xN0wxNi41OSw4LjU4TDE4LDEwTDEyLDE2TDYsMTBMNy40MSw4LjU4WiIgLz48L3N2Zz4=);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 16px 16px;
        height: 48px;
        width: 48px;
        top: 50%;
        margin-top: -24px;

        &.icon-previous {
          transform: rotate(90deg);
          left: 10px;
        }

        &.icon-next {
          transform: rotate(-90deg);
          right: 10px;
        }
      }
    }

    .calendar-header {
      @include clearfix();
      padding-left: 8px;
      padding-right: 8px;
      margin-bottom: 10px;

      .week-header-entry {
        @extend .float-left;
        @extend .text-center;
        @extend .small-bold-weak-text;
        line-height: 17px;
        min-width: 43px;
        width: calc(100%/7);
      }
    }

    .calendar-content-wrapper {
      @include size(100%, 260px);
      overflow: hidden;
      position: relative;

      .calendar-view-type {
        @include absolute(top 0 left 0 right 0 bottom 0);
        transition: transform 400ms, opacity 400ms;
        z-index: 2;
        opacity: 0;

        &.in-view {
          opacity: 1;
          transform: scale(1);
          z-index: 2;
        }

        &.below {
          opacity: 0;
          transform: scale(0.1);
          z-index: initial;
        }

        &.above {
          opacity: 0;
          transform: scale(10);
          z-index: initial;
        }

        .calendar-content {
          @include absolute(top 0 left 0 right 0 bottom 0);
          @include clearfix();
          padding-left: 8px;
          padding-right: 8px;
          transition: transform 200ms;

          &.previous {
            transform: translate3d(-100%, 0, 0);
          }

          &.next {
            transform: translate3d(100%, 0, 0);
          }

          .calendar-entry-wrapper {
            @extend .big-text;
            @extend .float-left;
            @extend .text-center;
            min-height: 43px;
            text-transform: uppercase;
            line-height: 86px;
            min-width: 43px;
            width: calc(100%/4);

            .calendar-entry {
              @include center-block();
              position: relative;
              &.disabled {
                color: $light-blue-grey;
              }
              &.out-of-range {
                color: $alto;
              }
              &.selected {
                @extend .bold-text;
                color: white;
                width: 43px;
                height: 43px;
                border-radius: 50%;
                background-color: $tealish;
              }
              &.green .event-day {
                @extend .event-green;
              }
              &.yellow .event-day {
                @extend .event-yellow;
              }
              &.red .event-day {
                @extend .event-red;
              }
              &.pink .event-day {
                @extend .event-pink;
              }
              &.blue .event-day {
                @extend .event-blue;
              }

              .event-day {
                @include size(8px);
                position: absolute;
                left: 50%;
                bottom: 2px;
                margin-left: -5px;
                border-radius: 50%;
                border: 1px solid white;
              }
            }
            &.day-entry {
              width: calc(100%/7);
              line-height: 43px;
              .calendar-entry {
                &.selected {
                  @extend .bold-text;
                  width: 43px;
                  height: 43px;
                  border-radius: 50%;
                }
              }
            }
            &.month-entry,
            &.year-entry {
              .calendar-entry {
                &.selected {
                  @extend .bold-text;
                  width: initial;
                  height: initial;
                  line-height: 43px;
                  display: inline-block;
                  padding: 0 20px;
                  border-radius: 22px;
                }
              }
            }
          }
        }
      }
      &.week-type {
        .calendar-view-type {
          .calendar-content {
            .calendar-entry-wrapper {
              .calendar-entry {
                margin: 0;
                &.selected {
                  height: initial;
                  width: initial;
                  border-radius: 0;

                  &.week-first {
                    border-bottom-left-radius: 50%;
                    border-top-left-radius: 50%;
                  }
                  &.week-last {
                    border-bottom-right-radius: 50%;
                    border-top-right-radius: 50%;

                  }
                }
              }
            }
          }
        }
      }
      &.two-week-type {
        .calendar-view-type {
          .calendar-content {
            .calendar-entry-wrapper {
              .calendar-entry {
                margin: 0;
                &.selected {
                  height: initial;
                  width: initial;
                  border-radius: 0;

                  &.two-week-top-left {
                    border-top-left-radius: 50%;
                  }
                  &.two-week-top-right {
                    border-top-right-radius: 50%;
                  }
                  &.two-week-bottom-left {
                    border-bottom-left-radius: 50%;
                  }
                  &.two-week-bottom-right {
                    border-bottom-right-radius: 50%;
                  }
                }
              }
            }
          }
        }
      }
    }

    .calendar-footer {
      height: 35px;
      padding: 8px 24px;

      .legend-button {
        @extend .float-left;
        height: 35px;
        color: $bluish-grey;
        font-weight: 600;

        a {
          display: inline-block;
          line-height: 35px;
        }
        md-icon {
          @include size(16px);
          transform: translateY(3px);
        }
      }
    }

    .done-button {
      @include absolute(bottom 8px right 24px);
      @extend .float-right;
      @extend .reset-button-styles;
      @extend .reset-styles;
      @extend .bold-text;
      padding: 0 16px;
      height: 35px;
      color: $tealish;
      transform: translateX(16px);
      transition: bottom 400ms;
    }

    .legend {
      padding: 0 24px;

      .legend-entry {
        @include clearfix();
        margin-bottom: 12px;

        .dot {
          @extend .float-left;
          @include size(8px);
          border-radius: 50%;
          margin: 5.5px;
        }

        .info-list {
          margin-left: 19px;

          p {
            line-height: 19px;
            margin-bottom: 4px;
          }
        }
      }
    }
  }
}
