<div class="current-date icon-down"
     (click)="openCalendar()">{{ formattedDate }}</div>

<div class="calendar" [class.active]="showCalendar">
  <div class="calendar-title">

    <div class="icon-back-and-prev icon-previous"
         (click)="onPrevClick()"></div>
    <div class="icon-back-and-prev icon-next"
         (click)="onNextClick()"></div>

    <span class="month"
         (click)="onHeaderMonthClick()"
         *ngIf="calendar?.isDayView()">{{calendar?.viewDate | amDateFormat:'MMMM'}}</span>&nbsp;&nbsp;
    <span class="year"
         (click)="onHeaderYearClick()"
         *ngIf="calendar?.isDayView() || calendar?.isMonthView()">{{calendar?.viewDate | amDateFormat:'YYYY'}}</span>
    <span class="years"
          *ngIf="calendar?.isYearView()">{{calendar?.getYearsViewDate()}}</span>

  </div>

  <div class="calendar-header"
       *ngIf="calendar?.isDayView()">
    <div class="week-header-entry">S</div>
    <div class="week-header-entry">M</div>
    <div class="week-header-entry">T</div>
    <div class="week-header-entry">W</div>
    <div class="week-header-entry">T</div>
    <div class="week-header-entry">F</div>
    <div class="week-header-entry">S</div>
  </div>

  <div class="calendar-content-wrapper" [ngClass]="getTypeClass()">
    <!---------------------------------------->
    <!--              DAY VIEW              -->
    <!---------------------------------------->
    <div class="calendar-view-type"
         [ngClass]="{
            'in-view': calendar?.isDayView(),
            'below': calendar?.isMonthView() || calendar?.isYearView()
         }">
      <div class="calendar-content day"
           *ngFor="let data of calendar?.data.day; let i = index;"
           [ngClass]="{
           previous: calendar?.data.day.length > 0 && i === 0,
           selected: calendar?.data.day.length > 0 && i === 1 || calendar?.data.day.length === 0,
           next: calendar?.data.day.length > 0 && i === 2
         }">

        <div class="calendar-entry-wrapper day-entry"
             *ngFor="let entry of data.calendarEntries; let j = index">
          <div class="calendar-entry"
               (click)="!entry.disabled && onDayClick(entry.value)"
               [ngClass]="{
               selected: entry.selected,
               'week-first': entry.selected && isWeekType() && !data.calendarEntries[j-1]?.selected,
               'week-last': entry.selected && isWeekType() && !data.calendarEntries[j+1]?.selected,
               'two-week-top-left': entry.selected && isTwoWeekType() && !data.calendarEntries[j-1]?.selected,
               'two-week-top-right': entry.selected && isTwoWeekType() && data.calendarEntries[j+7]?.selected && !data.calendarEntries[j+8]?.selected,
               'two-week-bottom-left': entry.selected && isTwoWeekType() && data.calendarEntries[j-7]?.selected && !data.calendarEntries[j-8]?.selected,
               'two-week-bottom-right': entry.selected && isTwoWeekType() && !data.calendarEntries[j+1]?.selected,
               'out-of-range': entry.outOfRange,
               disabled: entry.disabled
               }">
            {{entry.title}}
          </div>
        </div>

      </div>
    </div>
    <!---------------------------------------->
    <!--              DAY VIEW              -->
    <!---------------------------------------->


    <!---------------------------------------->
    <!--              MONTH VIEW            -->
    <!---------------------------------------->
    <div class="calendar-view-type"
         [ngClass]="{
            'in-view': calendar?.isMonthView(),
            'below': calendar?.isYearView(),
            'above': calendar?.isDayView()
         }">
      <div class="calendar-content"
           *ngFor="let data of calendar?.data.month; let i = index;"
           [ngClass]="{
           previous: calendar?.data.day.length > 0 && i === 0,
           selected: calendar?.data.day.length > 0 && i === 1 || calendar?.data.day.length === 0,
           next: calendar?.data.day.length > 0 && i === 2
         }">

        <div class="calendar-entry-wrapper month-entry"
             *ngFor="let entry of data.calendarEntries">
          <div class="calendar-entry"
               (click)="onMonthClick(entry.value)"
               [ngClass]="{selected: entry.selected, disabled: entry.disabled}">
            {{entry.title}}
          </div>
        </div>

      </div>
    </div>
    <!---------------------------------------->
    <!--              MONTH VIEW            -->
    <!---------------------------------------->



    <!---------------------------------------->
    <!--              YEAR VIEW             -->
    <!---------------------------------------->
    <div class="calendar-view-type"
         [ngClass]="{
            'in-view': calendar?.isYearView(),
            'above': calendar?.isMonthView() || calendar?.isDayView()
         }">
      <div class="calendar-content"
           *ngFor="let data of calendar?.data.year; let i = index;"
           [ngClass]="{
           previous: calendar?.data.day.length > 0 && i === 0,
           selected: calendar?.data.day.length > 0 && i === 1 || calendar?.data.day.length === 0,
           next: calendar?.data.day.length > 0 && i === 2
         }">

        <div class="calendar-entry-wrapper year-entry"
             *ngFor="let entry of data.calendarEntries">
          <div class="calendar-entry"
               (click)="onYearClick(entry.value)"
               [ngClass]="{selected: entry.selected, disabled: entry.disabled}">
            {{entry.title}}
          </div>
        </div>

      </div>
    </div>
    <!---------------------------------------->
    <!--              YEAR VIEW             -->
    <!---------------------------------------->

  </div>

  <div class="calendar-footer">
    <button (click)="closeCalendar()">DONE</button>
  </div>

</div>
