<div class="current-date icon-down"
     (click)="openCalendar()">{{ formattedDate }}</div>

<div class="calendar" [class.active]="showCalendar" [class.show-legend]="isLegendVisible">
  <div class="calendar-title">

    <div class="icon-back-and-prev icon-previous"
         (click)="onPrevClick()"></div>
    <div class="icon-back-and-prev icon-next"
         (click)="onNextClick()"></div>

    <span class="month"
         (click)="onHeaderMonthClick()"
         *ngIf="calendar?.isDayView()">{{calendar?.viewDate | amDateFormat:'MMMM'}}</span>&nbsp;&nbsp;
    <span class="year"
         (click)="onHeaderYearClick()"
         *ngIf="calendar?.isDayView() || calendar?.isMonthView()">{{calendar?.viewDate | amDateFormat:'YYYY'}}</span>
    <span class="years"
          *ngIf="calendar?.isYearView()">{{calendar?.getYearsViewDate()}}</span>

  </div>

  <div class="calendar-header"
       *ngIf="calendar?.isDayView()">
    <div class="week-header-entry">S</div>
    <div class="week-header-entry">M</div>
    <div class="week-header-entry">T</div>
    <div class="week-header-entry">W</div>
    <div class="week-header-entry">T</div>
    <div class="week-header-entry">F</div>
    <div class="week-header-entry">S</div>
  </div>

  <div class="calendar-content-wrapper" [ngClass]="getTypeClass()">
    <!---------------------------------------->
    <!--              DAY VIEW              -->
    <!---------------------------------------->
    <div class="calendar-view-type"
         [ngClass]="{
            'in-view': calendar?.isDayView(),
            'below': calendar?.isMonthView() || calendar?.isYearView()
         }">
      <div class="calendar-content day"
           *ngFor="let data of calendar?.data.day; let i = index;"
           [ngClass]="{
           previous: calendar?.data.day.length > 0 && i === 0,
           selected: calendar?.data.day.length > 0 && i === 1 || calendar?.data.day.length === 0,
           next: calendar?.data.day.length > 0 && i === 2
         }">

        <div class="calendar-entry-wrapper day-entry"
             *ngFor="let entry of data.calendarEntries; let j = index">
          <div class="calendar-entry"
               (click)="!entry.disabled && onDayClick(entry.value)"
               [ngClass]="calendar?.getClassesForDay(entry, j, data.calendarEntries)">
            {{entry.title}}
            <div class="event-day"
                 *ngIf="calendar?.isEventThisDay(entry)"></div>
          </div>
        </div>

      </div>
    </div>
    <!---------------------------------------->
    <!--              DAY VIEW              -->
    <!---------------------------------------->


    <!---------------------------------------->
    <!--              MONTH VIEW            -->
    <!---------------------------------------->
    <div class="calendar-view-type"
         [ngClass]="{
            'in-view': calendar?.isMonthView(),
            'below': calendar?.isYearView(),
            'above': calendar?.isDayView()
         }">
      <div class="calendar-content"
           *ngFor="let data of calendar?.data.month; let i = index;"
           [ngClass]="{
           previous: calendar?.data.day.length > 0 && i === 0,
           selected: calendar?.data.day.length > 0 && i === 1 || calendar?.data.day.length === 0,
           next: calendar?.data.day.length > 0 && i === 2
         }">

        <div class="calendar-entry-wrapper month-entry"
             *ngFor="let entry of data.calendarEntries">
          <div class="calendar-entry"
               (click)="onMonthClick(entry.value)"
               [ngClass]="{selected: entry.selected, disabled: entry.disabled}">
            {{entry.title}}
          </div>
        </div>

      </div>
    </div>
    <!---------------------------------------->
    <!--              MONTH VIEW            -->
    <!---------------------------------------->



    <!---------------------------------------->
    <!--              YEAR VIEW             -->
    <!---------------------------------------->
    <div class="calendar-view-type"
         [ngClass]="{
            'in-view': calendar?.isYearView(),
            'above': calendar?.isMonthView() || calendar?.isDayView()
         }">
      <div class="calendar-content"
           *ngFor="let data of calendar?.data.year; let i = index;"
           [ngClass]="{
           previous: calendar?.data.day.length > 0 && i === 0,
           selected: calendar?.data.day.length > 0 && i === 1 || calendar?.data.day.length === 0,
           next: calendar?.data.day.length > 0 && i === 2
         }">

        <div class="calendar-entry-wrapper year-entry"
             *ngFor="let entry of data.calendarEntries">
          <div class="calendar-entry"
               (click)="onYearClick(entry.value)"
               [ngClass]="{selected: entry.selected, disabled: entry.disabled}">
            {{entry.title}}
          </div>
        </div>

      </div>
    </div>
    <!---------------------------------------->
    <!--              YEAR VIEW             -->
    <!---------------------------------------->

  </div>

  <div class="calendar-footer">
    <div class="legend-button">
      <a (click)="toggleLegend()" *ngIf="calendar?.isDayView()">
        Legend
      </a>
      <md-icon [svgIcon]="isLegendVisible ? 'chevron-up' : 'chevron-down'"></md-icon>
    </div>
  </div>

  <div class="legend">
    <div class="legend-entry">
      <div class="dot event-green"></div>
      <div class="info-list">
        <p>Payday</p>
      </div>
    </div>
    <div class="legend-entry">
      <div class="dot event-yellow"></div>
      <div class="info-list">
        <p>Pay Period Ending Date</p>
        <p>Health Plan Deduction</p>
        <p>Long-Term Care Deduction</p>
        <p>Disability Insurance Deduction</p>
      </div>
    </div>
    <div class="legend-entry">
      <div class="dot event-blue"></div>
      <div class="info-list">
        <p>Pay Period Ending Date</p>
        <p>Life Insurance Deduction</p>
      </div>
    </div>
    <div class="legend-entry">
      <div class="dot event-pink"></div>
      <div class="info-list">
        <p>Pay Period Ending Date</p>
        <p>Regular Deduction Only/No Special Ded</p>
      </div>
    </div>
    <div class="legend-entry">
      <div class="dot event-red"></div>
      <div class="info-list">
        <p>Observed Holiday</p>
      </div>
    </div>
  </div>

  <button (click)="closeCalendar()"
          class="done-button">DONE</button>

</div>
