@import '../../../../styles';

:host {
  @extend .full-height;
  display: block;

  .container {
    @extend .full-height;
    position: relative;

    section {
      @include centerer();
      width: 100%;

      .success-icon {
        @include size(100px);
        @include background-image('message-sent', 'png', 100%);
        @include center-block();
        background-repeat: no-repeat;
      }

      p {
        @extend .big-text;
        @extend .text-center;
        margin: 24px 0 0 0;
        line-height: 22px;
      }

    }
  }
}


