<pcl-header [title]="'Select schedule request'"
            [showBackBtn]="true"
            (backBtnClick)="back()"></pcl-header>

<div>

  <md-tab-group>

    <md-tab label="OPENED">
      <div class="request-list">
        <pcl-month-entry *ngFor="let request of (openedScheduleRequests$ | async)"
                         [scheduleRequest]="request"
                         [deadlinePassed]="false"
                         (onButtonClick)="goToCreateRequest(request.ScheduleRequestID)"></pcl-month-entry>
      </div>
    </md-tab>

    <md-tab label="CLOSED">
      <div class="request-list">
        <pcl-month-entry *ngFor="let request of (closedScheduleRequests$ | async)"
                         [scheduleRequest]="request"
                         [deadlinePassed]="true"
                         (onButtonClick)="goToCreateRequest(request.ScheduleRequestID)"></pcl-month-entry>
      </div>
    </md-tab>

  </md-tab-group>

</div>

<pcl-loader [show]="loading$ | async"></pcl-loader>
