<pcl-header [title]="'Schedule Requests'"
            [showBackBtn]="true"
            (backBtnClick)="back()"></pcl-header>

<div>

  <mat-tab-group>

    <mat-tab label="OPEN">
      <div class="request-list">
        <pcl-month-entry *ngFor="let request of (openedScheduleRequests$ | async)"
                         [scheduleRequest]="request"
                         [deadlinePassed]="false"
                         (onButtonClick)="goToCreateRequest(request.ScheduleRequestID)"></pcl-month-entry>
      </div>
    </mat-tab>

    <mat-tab label="CLOSED">
      <div class="request-list">
        <pcl-month-entry *ngFor="let request of (closedScheduleRequests$ | async)"
                         [scheduleRequest]="request"
                         [deadlinePassed]="true"
                         (onButtonClick)="goToCreateRequest(request.ScheduleRequestID)"></pcl-month-entry>
      </div>
    </mat-tab>

  </mat-tab-group>

</div>

<pcl-loader [show]="loading$ | async"></pcl-loader>
