@import '../../../../colors';
@import '../../../../mixins';
@import '../../../../helpers';

:host /deep/ {
  display: block;
  position: relative;
  min-height: calc(100% - 55px);
  padding-bottom: 55px;

  pcl-header /deep/ {
    @include absolute(top 0 left 0 right 0);
  }

  .avatar-section {
    height: 170px;
    padding-top: 45px;

    .avatar-wrapper {
      @include center-block();
      width: 200px;
      position: relative;
      margin-top: 20px;

      input[type=file] {
        @include absolute(top 0 right 0 bottom 0 left 0);
        opacity: 0;
        width: 200px;
      }

      .avatar {
        @include size(84px);
        @include center-block();
        border-radius: 50%;
        background-color: #D8D8D8;
        background-size: 100%;
      }

      .avatar-default {
        @include size(84px);
        @include center-block();

        md-icon {
          @include size(84px);
          fill: $bluish-grey;
        }
      }

      p {
        @extend .small-bold-weak-text;
        @extend .text-center;
        text-transform: uppercase;
        line-height: 17px;
        margin-top: 16px;
        &:last-of-type {
          margin-top: 0;
        }
      }
    }
  }

  md-input-container {
    margin-top: 8px;
  }

  pcl-multiline-error-msg {
    margin-bottom: 16px;
  }

  .md-input-placeholder.md-float {
    display: block;
    padding-bottom: 5px;
    transform: translateY(-100%) scale(.75);
    width: 133.33333%;
  }
}
