@import '../../../../styles';

:host {
  @extend .full-height;
  display: block;
  position: relative;
  background-color: #f7f9fb;

  .button-container {
    @include centerer(false, true);
    padding: 0 24px;
    box-sizing: border-box;
    width: 100%;


    .button-wrapper {
      margin-top: 16px;

      .button {
        @include size(100%, 22px);
        @extend .big-text;
        @extend .text-center;
        padding: 25px 0;
        border-radius: 4px;
        background-color: #ffffff;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12), 0 0 0 0 rgba(0, 0, 0, 0.12);
        line-height: 22px;
      }
    }
  }
}
