@import '../../../../styles';

.container {
  padding-top: 100px;

  .title {
    @extend .big-text;
    @extend .text-center;
    margin: 36px 0 8px 0;
  }

  .note {
    @extend .weak-text;
    @extend .text-center;
    margin: 8px 0 38px 0;
  }
}

