<div class="month-entry-wrapper">
  <div>
    <div>
      {{date | amDateFormat:'MMMM YYYY'}}
    </div>
    <div class="deadline">
      <span *ngIf="deadlinePassed">Deadline</span>
      <span *ngIf="!deadlinePassed">Past due</span>
      on: {{scheduleRequest?.RequestDeadline | amDateFormat:'MMM Do, YYYY'}}
    </div>
  </div>
  <button mat-button *ngIf="deadlinePassed" (click)="onButtonClick.emit()">VIEW</button>
  <button mat-button *ngIf="!deadlinePassed" (click)="onButtonClick.emit()">EDIT</button>
</div>
