@import '../../../../styles';

:host {
  display: block;
  min-height: 100%;
  position: relative;
  background-color: $pale-grey;

  pcl-header /deep/ {
    @include absolute(top 0 left 0 right 0);
    background-color: transparent;
    box-shadow: none;
    color: white;

    md-icon {
      fill: white !important;
    }

    button {
      color: white !important;
    }
  }

  .avatar-section {
    @extend .gradient1;
    height: 170px;
    padding-top: 45px;

    .avatar {
      @include size(84px);
      @include center-block();
      border-radius: 50%;
      background-color: #D8D8D8;
      background-size: 100%;
      margin-top: 20px;
    }
    .name {
      @extend .big-bold-text;
      @extend .text-center;
      margin-top: 12px;
      line-height: 22px;
      color: white;
    }
    .group {
      @extend .small-bold-text;
      @extend .text-center;
      opacity: 0.7;
      margin-top: 3px;
      line-height: 17px;
      color: white;
    }
  }

  .info-line {
    @include clearfix();
    line-height: 48px;
    background-color: #ffffff;
    box-shadow: inset 0 -1px 0 0 $light-blue-grey, inset 0 1px 0 0 $light-blue-grey;
    padding: 0 24px;

    .label {
      @extend .big-text;
      @extend .float-left;
    }
    .value {
      @extend .big-weak-text;
      @extend .float-right;
      text-align: right;
    }
  }

  .header-line {
    @extend .small-bold-weak-text;
    line-height: 17px;
    padding: 20px 24px 8px 24px;
    text-transform: uppercase;
  }
}
