@import '../../../../../../colors';
@import '../../../../../../mixins';
@import '../../../../../../helpers';

:host {
  height: 72px;
  display: block;
  overflow: hidden;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12), 0 0 0 0 rgba(0, 0, 0, 0.12);

  .card-container {
    @extend .full-height;
    @include clearfix();
    position: relative;

    .left-block {
      @extend .float-left;
      @include size(20px, 100%);
      background: $tealish;
      color: white;

      .text {
        overflow-wrap: break-word;
        line-height: 20px;
        padding: 16px 3px;
        text-align: center;
        font-weight: bold;
      }
    }

    .text-block {
      @extend .float-left;
      padding: 15px;
      padding-left: 30px;


      .title {
        @extend .big-text;
        letter-spacing: 0.4px;
        line-height: 22px;
        margin-bottom: 3px;
      }

      .note {
        @extend .small-bold-weak-text;
        line-height: 18px;
      }
    }

    .right-block {
      @extend .float-right;
      @include size(40px, 100%);
      position: relative;

      button {
        @include centerer();

        md-icon {
          fill: $tealish;
        }
      }
    }
  }
}
