@import '../../../../styles';

:host {
  @extend .full-height;
  display: block;

  .crop-container {
    position: relative;
    @extend .full-height;
    height: calc(100% - #{$header-height});

    .photo {
      position: absolute;
    }
  }
}
