@import '../../../../styles';

:host /deep/ {
  .cropper-view-box {
    border-radius: 50%;
  }
}

:host {
  @extend .full-height;
  display: block;

  .crop-container {
    position: relative;
    @extend .full-height;
    height: calc(100% - #{$header-height});
    overflow: hidden;

    .photo {
      width: 100%;
      //height: 100%;
    }
  }
}
