<p class="note">Is comp-time preferred?</p>

<md-radio-group (change)="onCompTimeChange($event)" [(ngModel)]="compTime">
  <md-radio-button [value]="true">Yes</md-radio-button>
  <md-radio-button [value]="false">No</md-radio-button>
</md-radio-group>

<pcl-schedule-step-buttons [showAddBtn]="false"
                           [showSkipBtn]="false"
                           [disableNextBtn]="disableNextBtn"
                           (onNextBtnClick)="onNextBtnClick.emit()"></pcl-schedule-step-buttons>
