@import '../../../../../colors';
@import '../../../../../mixins';
@import '../../../../../helpers';

:host {
  display: block;
  .note {
    font-size: 14px;
    line-height: 22px;
    color: $bluish-grey;
  }

  md-radio-group {
    margin-top: 24px;
    display: flex;
    justify-content: space-around;
  }
}
