<p class="note">Is comp-time preferred?</p>

<mat-radio-group (change)="onCompTimeChange($event)" [(ngModel)]="compTime">
  <mat-radio-button [value]="true">Yes</mat-radio-button>
  <mat-radio-button [value]="false">No</mat-radio-button>
</mat-radio-group>

<pcl-schedule-step-buttons [showAddBtn]="false"
                           [showSkipBtn]="false"
                           [disableNextBtn]="disableNextBtn"
                           (onNextBtnClick)="onNextBtnClick.emit()"></pcl-schedule-step-buttons>
