@import '../../../../colors';
@import '../../../../mixins';
@import '../../../../helpers';
@import '../../../../constants';

:host {
  position: relative;
  display: block;
  @extend .full-height;

  pcl-header {
    @include absolute(top 0 left 0);
    @extend .full-width;
    z-index: 10;
  }

  .container {
    position: relative;
    min-height: 350px;
    height: 100%;
    -webkit-transform: translate3d(0, -#{$header-height}, 0);
            transform: translate3d(0, -#{$header-height}, 0);

    section {
      @include centerer();
      width: 100%;

      .success-icon {
        @include size(100px);
        @include background-image('success', 'png', 100%);
        @include center-block();
        background-repeat: no-repeat;
      }

      p {
        @extend .big-text;
        @extend .text-center;
        margin: 24px 0 0 0;
        line-height: 22px;
      }

    }
  }
}


