@import '../../../../styles';

:host {
  display: block;
  @extend .full-height;

  .container {
    position: relative;
    height: 100%;
    transform: translate3d(0, -#{$header-height}, 0);

    section {
      @include centerer();
      width: 100%;

      .success-icon {
        @include size(100px);
        @include background-image('success', 'png', 100%);
        @include center-block();
        background-repeat: no-repeat;
      }

      p {
        @extend .big-text;
        @extend .text-center;
        margin: 24px 0 0 0;
        line-height: 22px;
      }

    }
  }
}


