@import '../../../../../../styles';

:host {
  height: 72px;
  display: block;
  overflow: hidden;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12), 0 0 0 0 rgba(0, 0, 0, 0.12);
  border-left: 8px solid $tealish;

  .card-container {
    @extend .full-height;
    @include clearfix();
    position: relative;

    .text-block {
      padding: 15px;

      .title {
        @extend .big-text;
        letter-spacing: 0.4px;
        line-height: 22px;
        margin-bottom: 3px;
      }

      .note {
        @extend .small-bold-weak-text;
        line-height: 18px;
      }
    }

    .right-block {
      @include absolute(top 0 right 0);
      @include size(72px, 72px);
      background: #ffffff;
      z-index: 5;
      border-left: 1px solid $light-blue-grey;

      md-icon {
        @include centerer();
      }
    }
  }
}
