@import '../../../../../../colors';
@import '../../../../../../mixins';
@import '../../../../../../helpers';

:host {
  height: 72px;
  display: block;
  overflow: hidden;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12), 0 0 0 0 rgba(0, 0, 0, 0.12);

  .card-container {
    @extend .full-height;
    @include clearfix();
    position: relative;

    .left-block {
      @extend .float-left;
      @include size(20px, 100%);
      background: $tealish;
      color: white;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    .text-block {
      padding: 15px;
      padding-left: 30px;

      .title {
        @extend .big-text;
        letter-spacing: 0.4px;
        line-height: 22px;
        margin-bottom: 3px;
      }

      .note {
        @extend .small-bold-weak-text;
        line-height: 18px;
      }
    }

    .right-block {
      @include absolute(top 0 right 0);
      @include size(72px, 72px);
      background: #ffffff;
      z-index: 5;
      border-left: 1px solid $light-blue-grey;

      mat-icon {
        @include centerer();
      }
    }
  }
}
