@import '../../../../colors';
@import '../../../../mixins';
@import '../../../../helpers';

:host /deep/ {
  @include fixed(bottom 0 left 0 right 0);
  z-index: 100;

  .offline-block {
    text-align: center;
    background-color: #25252b;
    color: #dcdcdc;
    line-height: 22px;
  }

  nav {
    @include size(100%, 50px);
    display: block;
    background-color: #ffffff;
    box-shadow: inset 0 1px 0 0 $light-blue-grey;
    opacity: 0;
    transform: translate3d(0, 100%, 0);
    transition: transform 200ms ease-out, opacity 200ms ease-out;

    &.show {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }


    ul {
      @include size(100%, 100%);
      @include clearfix();
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        @extend .float-left;
        @include size(25%, 100%);
        position: relative;

        mat-icon {
          @include centerer();
          &.nav-profile-icon,
          &.nav-home-icon,
          &.nav-contact-icon,
          &.nav-search-icon {
            fill: $bluish-grey;
          }

        }

        &.active {
          mat-icon {
            &.nav-profile-icon,
            &.nav-home-icon,
            &.nav-contact-icon,
            &.nav-search-icon {
              fill: $tealish;
            }
          }
        }
      }

      &.offline {
        li {
          @include size(50%, 100%);
        }
      }
    }
  }

}

