<div class="offline-block" [@offlineBlock]="offlineBlockStatus">{{online ? 'Connected' : 'No connection'}}</div>
<nav [class.show]="showNav">
  <ul [class.offline]="!online">
    <li *ngIf="isHomeDisabled$ | async">
      <mat-icon class="nav-home-icon disabled"
               svgIcon="nav-home"></mat-icon>
    </li>
    <li [routerLink]="['/', 'home']"
        *ngIf="!(isHomeDisabled$ | async)"
        mat-ripple
        mdRippleCentered="true"
        routerLinkActive="active">
      <mat-icon class="nav-home-icon"
               svgIcon="nav-home"></mat-icon>
    </li>
    <li [routerLink]="['/', 'search']"
        *ngIf="online"
        mat-ripple
        mdRippleCentered="true"
        routerLinkActive="active">
      <mat-icon class="nav-search-icon"
               svgIcon="nav-search"></mat-icon>
    </li>
    <li (click)="openContactUsDialog()"
        mat-ripple
        mdRippleCentered="true">
      <mat-icon class="nav-contact-icon"
               svgIcon="nav-contact"></mat-icon>
    </li>
    <li [routerLink]="['/', 'profile']"
        *ngIf="online"
        mat-ripple
        mdRippleCentered="true"
        routerLinkActive="active">
      <mat-icon class="nav-profile-icon"
               svgIcon="profile"></mat-icon>
    </li>
  </ul>
</nav>
