@import '../../../../styles';

:host(.show) {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

:host /deep/ {
  @include size(100%, 50px);
  @include fixed(bottom 0 left 0 right 0);
  display: block;
  background-color: #ffffff;
  z-index: 10;
  box-shadow: inset 0 1px 0 0 $light-blue-grey;
  opacity: 0;
  transform: translate3d(0, 100%, 0);
  transition: transform 200ms, opacity 200ms;

  nav {
    @include size(100%, 100%);
    ul {
      @include size(100%, 100%);
      @include clearfix();
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        @extend .float-left;
        @include size(25%, 100%);
        position: relative;

        md-icon {
          @include centerer();
          &.nav-more-icon {
            fill: white;
            #stroke-lines {
              stroke: $bluish-grey;
            }
            &.active {
              fill: $tealish;
              #stroke-lines {
                stroke: $tealish;
              }
            }
          }
          &.nav-home-icon,
          &.nav-contact-icon,
          &.nav-search-icon {
            fill: $bluish-grey;

            &.active {
              fill: $tealish;
            }
          }

        }

        &.active {
          md-icon {
            &.nav-more-icon {
              fill: $tealish;
              #stroke-lines {
                stroke: $tealish;
              }
            }
            &.nav-home-icon,
            &.nav-contact-icon,
            &.nav-search-icon {
              fill: $tealish;
            }
          }
        }
      }
    }
  }

}

