<nav>
  <ul>
    <li *ngIf="isHomeDisabled$ | async">
      <md-icon class="nav-home-icon disabled"
               svgIcon="nav-home"></md-icon>
    </li>
    <li [routerLink]="['/', 'home']"
        *ngIf="!(isHomeDisabled$ | async)"
        md-ripple
        mdRippleCentered="true"
        routerLinkActive="active">
      <md-icon class="nav-home-icon"
               svgIcon="nav-home"></md-icon>
    </li>
    <li [routerLink]="['/', 'search']"
        md-ripple
        mdRippleCentered="true"
        routerLinkActive="active">
      <md-icon class="nav-search-icon"
               svgIcon="nav-search"></md-icon>
    </li>
    <li (click)="openContactUsDialog()"
        md-ripple
        mdRippleCentered="true">
      <md-icon class="nav-contact-icon"
               svgIcon="nav-contact"></md-icon>
    </li>
    <li [routerLink]="['/', 'more']"
        md-ripple
        mdRippleCentered="true"
        routerLinkActive="active">
      <md-icon class="nav-more-icon"
               svgIcon="nav-more"></md-icon>
    </li>
  </ul>
</nav>
