<pcl-header showBackBtn="true"
            title="Forgot Password"
            (backBtnClick)="onBackBtnClick($event)">
</pcl-header>

<div class="container">

  <p>Provide your login phone number. We'll send instructions
     on how to reset your password via SMS
  </p>

  <form novalidate
        [formGroup]="phoneForm"
        (ngSubmit)="onSubmit(phoneForm.value)">

    <md-input-container>
      <input md-input
             placeholder="phone"
             [textMask]="{mask: mask}"
             type="tel"
             formControlName="phone"
             name="login">
    </md-input-container>

    <div class="error-msg">{{errorMsg$ | async}}</div>

    <pcl-button title="Submit"
                [type]="'submit'"
                [disabled]="phoneForm.invalid"
                [loading]="signInLoading$ | async">
    </pcl-button>

  </form>
</div>
