@import '../../../../styles';

p {
  @extend .big-text;
  @extend .text-center;
  margin: 24px 0 48px 0;
  line-height: 22px;
}

md-input-container {
  margin-bottom: 5px;
}

.error-msg {
  @extend .text-center;
  @extend .small-error-text;
  height: 17px;
  line-height: 17px;
  margin-bottom: 16px;
}
