<p class="note">If interested, choose a Saturday</p>

<div>

  <pcl-custom-date-selector (onDateChange)="onDateChange($event, volunteerShift.hospitalId, volunteerShift.shiftId)"
                            [placeholder]="'Choose a Saturday'"
                            [date]="volunteerShift?.date"
                            [calendar]="calendar"></pcl-custom-date-selector>

  <mat-form-field>
    <mat-select placeholder="Select hospital"
                (change)="onHospitalChange($event)"
                [value]="volunteerShift?.hospitalId">
      <mat-option *ngFor="let hospital of hospitals" [value]="hospital.HospitalID">
        {{ hospital.Abbreviation}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field>
    <mat-select placeholder="Select shift"
                (change)="onShiftChange($event)"
                [value]="volunteerShift?.shiftId">
      <mat-option *ngFor="let shift of shifts" [value]="shift.ShiftID">
        {{ shift.Description }}
      </mat-option>
    </mat-select>
  </mat-form-field>

</div>

<pcl-schedule-step-buttons [showSkipBtn]="true"
                           [disableSkipBtn]="calendar?.isVolunteerShiftChanged()"
                           [disableNextBtn]="!calendar?.isVolunteerShiftChanged() || !calendar?.isVolunteerShiftValid()"
                           (onSkipBtnClick)="skip()"
                           (onNextBtnClick)="submit()"></pcl-schedule-step-buttons>
