<h3>
  Login
</h3>

<form novalidate [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
  <div>
    <md-input-container>
      <input md-input placeholder="phone" [textMask]="{mask: mask}" type="tel" formControlName="phone">
    </md-input-container>
  </div>
  <div>
    <md-input-container>
      <input md-input placeholder="password" type="password" formControlName="password">
    </md-input-container>
  </div>
  <pcl-button title="Submit" [disabled]="loginForm.invalid" (buttonClick)="onClick($event)" [loading]="loading"></pcl-button>
</form>
<input type="checkbox" [(ngModel)]="loading">
