/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
//@import '~@angular/material/prebuilt-themes/purple-green.css';

@import 'constants.scss';
@import 'material_theme.scss';
@import 'material_custom.scss';
@import "colors.scss";
@import 'mixins.scss';
@import 'helpers.scss';

html,body {height: 100%;}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: $gunmetal;
}

button {
  font-family: 'Open Sans', sans-serif;
}

/* Splash loader */
.splash-logo {
  @include size(70px, 110px);
  @include background-image('logo', 'png', 100%);
  background-repeat: no-repeat;
}
.splash-loader {
  @include size(100%);
  @include fixed(top 0 left 0);
  opacity: 0;
  background: white;
  z-index: -1;
  .splash-logo {
    @include centerer();
  }
  &.show {
    opacity: 1;
    z-index: 100;
  }
}
//pcl-root:empty + .splash-loader {
//  opacity: 1;
//  z-index: 100;
//}
/* Splash loader */


/* icon button */
.icon-button {
  @extend .reset-styles;
  @extend .reset-button-styles;
  @include size(18px);
  color: $bluish-grey;
  md-icon {
    @include size(18px);
  }
}
/* icon button */


/* 24px container */
.container {
  @include set-margins-vw();
}

.icon-down {
  display: inline-block;
  position: relative;

  &:after {
    @include pseudo();
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0iIzgwOGU5YyI+PHBhdGggZD0iTTcuNDEsOC41OEwxMiwxMy4xN0wxNi41OSw4LjU4TDE4LDEwTDEyLDE2TDYsMTBMNy40MSw4LjU4WiIgLz48L3N2Zz4=);
    background-size: 16px 16px;
    height: 16px;
    width: 16px;
    top: 50%;
    margin-top: -8px;
    right: 0;
    margin-right: -24px;
  }
}


//pcl-root {
//
//  router-outlet ~ * {
//    animation-duration: 1s;
//    opacity: 0;
//    animation-name: fadeIn;
//    animation-fill-mode: forwards;
//  }
//
//}
//
//@keyframes fadeIn {
//  from {
//    opacity: 0;
//  }
//
//  to {
//    opacity: 1;
//  }
//}

/* Styles for NAV icons */

/* Styles for NAV icons */
