/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
@import "~@angular/material/core/theming/prebuilt/purple-green.scss";

$image-path: '/assets/' !default;
$retina-suffix: '@2x';
$base-width: 375;
$header-height: 45px;
@import 'mixins.scss';
@import 'resets.scss';

$viridian: #1e7e8f;
$tealish: #27a5bc;
$tealish-two: #2ab0c9;
$gunmetal: #4a525a;
$bluish-grey: #808e9c;
$light-blue-grey: #d4dfea;
$alto: #dcdcdc;
$pale-grey: #f7f9fb;
$blush: #f37b73;
$white: #ffffff;

html,body {height: 100%;}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: $gunmetal;
}

button {
  font-family: 'Open Sans', sans-serif;
}

.bold-text {
  font-weight: 600;
}
.weak-text {
  color: $bluish-grey;
}
.error-text {
  color: $blush;
}
.headline-text {
  font-size: 24px;
}
.headline-weak-text {
  @extend .headline-text;
  @extend .weak-text;
}
.big-text {
  font-size: 16px;
}
.big-weak-text {
  @extend .big-text;
  @extend .weak-text;
}
.big-bold-text {
  @extend .big-text;
  @extend .bold-text;
}
.big-error-text {
  @extend .big-text;
  @extend .error-text;
}
.small-text {
  font-size: 12px;
}
.small-weak-text {
  @extend .small-text;
  @extend .weak-text;
}
.small-bold-text {
  @extend .small-text;
  @extend .bold-text;
}
.small-bold-weak-text {
  @extend .small-text;
  @extend .bold-text;
  @extend .weak-text;
}
.bold-weak-text {
  @extend .bold-text;
  @extend .weak-text;
}
.small-error-text {
  @extend .small-text;
  @extend .error-text;
}
.letter-spacing04 {
  letter-spacing: 0.4px;
}
.white-text {
  color: white;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-uppercase {
  text-transform: uppercase;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}

.gradient1 {
  background-image: linear-gradient(to bottom, #82c57a, $tealish);
}

.gradient2 {
  background-image: linear-gradient(135deg, #fbda61, #f76b1c);
}

.gradient3 {
  background-image: linear-gradient(135deg, #f5515f, #dd3b4c 28%, #9f031b);
}

.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}

/* Material checkbox */
//$is-dark-theme: map-get($theme, is-dark);
$primary: $tealish;
$accent: $gunmetal;
$warn: $blush;
$background: $pale-grey;


// The color of the checkbox border.
$checkbox-border-color: $light-blue-grey;

// The color of the checkbox's checkmark / mixedmark.
$checkbox-mark-color: $white;

// NOTE(traviskaufman): While the spec calls for translucent blacks/whites for disabled colors,
// this does not work well with elements layered on top of one another. To get around this we
// blend the colors together based on the base color and the theme background.
//$white-30pct-opacity-on-dark: #686868;
//$black-26pct-opacity-on-light: #b0b0b0;
//$disabled-color: if($is-dark-theme, $white-30pct-opacity-on-dark, $black-26pct-opacity-on-light);
pcl-root {
  .mat-checkbox-frame {
    border-color: $checkbox-border-color;
    z-index: 1;
    border-width: 1px;
  }

  .mat-checkbox-checkmark {
    fill: $checkbox-mark-color;
  }

  .mat-checkbox-checkmark-path {
    // !important is needed here because a stroke must be set as an attribute on the SVG in order
    // for line animation to work properly.
    stroke: $checkbox-mark-color !important;
  }

  .mat-checkbox-mixedmark {
    background-color: $checkbox-mark-color;
  }

  .mat-checkbox-background {
    background-color: $background;
  }

  .mat-checkbox-indeterminate, .mat-checkbox-checked {
    &.mat-primary .mat-checkbox-background {
      background-color: $primary;
    }

    &.mat-accent .mat-checkbox-background {
      background-color: $accent;
    }

    &.mat-warn .mat-checkbox-background {
      background-color: $warn;
    }
  }
  .mat-checkbox:not(.mat-checkbox-disabled) {
    &.mat-primary .mat-checkbox-ripple .mat-ripple-foreground {
      background-color: rgba($primary, 0.26);
    }

    &.mat-accent .mat-checkbox-ripple .mat-ripple-foreground {
      background-color: rgba($accent, 0.26);
    }

    &.mat-warn .mat-checkbox-ripple .mat-ripple-foreground {
      background-color: rgba($warn, 0.26);
    }
  }
  .cdk-visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-transform: none;
    width: 1px;
  }
  [md-ripple] {
    overflow: hidden;
  }

  .mat-checkbox:not(.mat-checkbox-disabled).mat-primary .mat-checkbox-ripple .mat-ripple-element {
    background-color: rgba(0,0,0,.0588);
  }

  .mat-checkbox.mat-checkbox-disabled {
    .mat-checkbox-background {
      background-color: $checkbox-border-color;
    }
  }

  .mat-checkbox-inner-container {
    width: 24px !important;
    height: 24px !important;
  }
}
/* Material checkbox */














/* Material select */

$select-underline: $light-blue-grey;
$select-placeholder: $bluish-grey;
$foreground: $gunmetal;
$background: $pale-grey;
$primary: $tealish;
$warn: $blush;

.mat-select {
  font-size: 16px;
  height: 40px;
  width: 100%;
  margin-top: 10px;
}

.mat-select-trigger {
  color: $select-placeholder;

  .mat-select:focus:not(.mat-select-disabled) & {
    color: $primary;
  }

  .mat-select.ng-invalid.ng-touched:not(.mat-select-disabled) & {
    color: $warn;
  }
}

.mat-select-underline {
  background-color: $select-underline;

  .mat-select:focus:not(.mat-select-disabled) & {
    background-color: $primary;
  }

  .mat-select.ng-invalid.ng-touched:not(.mat-select-disabled) & {
    background-color: $warn;
  }
}

.mat-select-arrow {
  color: $select-placeholder;

  .mat-select:focus:not(.mat-select-disabled) & {
    color: $primary;
  }

  .mat-select.ng-invalid.ng-touched:not(.mat-select-disabled) & {
    color: $warn;
  }
}

.mat-select-content {
  background: $background;
}

.mat-select-value {
  color: $foreground;

  .mat-select-disabled & {
    color: $foreground;
  }
}

.mat-option {
  &:hover:not(.mat-option-disabled), &:focus:not(.mat-option-disabled) {
    background: $light-blue-grey;
  }

  &.mat-selected {
    background: $light-blue-grey;
    color: $primary;
  }

  &.mat-option-disabled {
    color: $pale-grey;
  }

}

.mat-select-panel-done-animating {
  background: none;
}

/* Material select */
$mat-font-family: 'Open Sans', sans-serif;
pcl-root {
  .mat-input-wrapper {
    padding-bottom: 0;
  }

  //CHANGE FONT
  .mat-input-container,
  .mat-select,
  .mat-button-toggle,
  .mat-card,
  .mat-checkbox,
  .mat-list-item-content,
  .mat-radio-button,
  .mat-slide-toggle-content,
  .mat-toolbar,
  .mat-tooltip,
  %mat-button-base{
    font-family: $mat-font-family;
  }

}














/* Material input */
$input-underline-color: $light-blue-grey;
$input-placeholder-color: $bluish-grey;
$input-floating-placeholder-color: $tealish;
$input-underline-focused-color: $tealish;
$input-underline-color-accent: $tealish;
$input-underline-color-warn: $tealish;
$input-required-placeholder-color: $blush;
$input-invalid: $blush;
.mat-input-placeholder {
  color: $input-placeholder-color;

  &.mat-focused {
    color: $input-floating-placeholder-color;

    &.mat-accent {
      color: $input-underline-color-accent;
    }
    &.mat-warn {
      color: $input-underline-color-warn;
    }
  }
}

md-input-container {
  @extend .big-text;
  @extend .full-width;

  &.ng-dirty.ng-invalid,
  &.ng-touched.ng-invalid {
    .mat-input-placeholder {
      color: $input-invalid;
    }
    .mat-input-underline {
      border-color: $input-invalid;

      .mat-input-ripple {
        background-color: $input-invalid;

        &.mat-accent {
          background-color: $input-invalid;
        }
        &.mat-warn {
          background-color: $input-invalid;
        }
      }
    }
  }
}

input.mat-input-element[disabled] {
  -webkit-text-fill-color: $light-blue-grey; /* Override iOS / Android font color change */
  -webkit-opacity: 1; /* Override iOS opacity change affecting text & background color */
  color: $light-blue-grey; /* Override IE font color change */
}

input.mat-input-element:-webkit-autofill + .mat-input-placeholder,
.mat-input-placeholder.mat-float.mat-focused {
  .mat-placeholder-required {
    color: $input-required-placeholder-color;
  }
}

.mat-input-underline {
  border-color: $input-underline-color;

  .mat-input-ripple {
    background-color: $input-underline-focused-color;

    &.mat-accent {
      background-color: $input-underline-color-accent;
    }
    &.mat-warn {
      background-color: $input-underline-color-warn;
    }
  }
}
/* Material input */



/* Splash loader */
.splash-logo {
  @include size(70px, 110px);
  @include background-image('logo', 'png', 100%);
  background-repeat: no-repeat;
}
.splash-loader {
  @include size(100%);
  @include fixed(top 0 left 0);
  opacity: 0;
  background: white;
  z-index: -1;
  .splash-logo {
    @include centerer();
  }
  &.show {
    opacity: 1;
    z-index: 100;
  }
}
//pcl-root:empty + .splash-loader {
//  opacity: 1;
//  z-index: 100;
//}
/* Splash loader */


/* icon button */
.icon-button {
  @extend .reset-styles;
  @extend .reset-button-styles;
  @include size(18px);
  color: $bluish-grey;
  md-icon {
    @include size(18px);
  }
}
/* icon button */


/* 24px container */
.container {
  @include set-margins-vw();
}

.icon-down {
  display: inline-block;
  position: relative;

  &:after {
    @include pseudo();
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0iIzgwOGU5YyI+PHBhdGggZD0iTTcuNDEsOC41OEwxMiwxMy4xN0wxNi41OSw4LjU4TDE4LDEwTDEyLDE2TDYsMTBMNy40MSw4LjU4WiIgLz48L3N2Zz4=);
    background-size: 16px 16px;
    height: 16px;
    width: 16px;
    top: 50%;
    margin-top: -8px;
    right: 0;
    margin-right: -24px;
  }
}


//pcl-root {
//
//  router-outlet ~ * {
//    animation-duration: 1s;
//    opacity: 0;
//    animation-name: fadeIn;
//    animation-fill-mode: forwards;
//  }
//
//}
//
//@keyframes fadeIn {
//  from {
//    opacity: 0;
//  }
//
//  to {
//    opacity: 1;
//  }
//}

/* Styles for NAV icons */

/* Styles for NAV icons */
