@import '../../../../../colors';
@import '../../../../../mixins';
@import '../../../../../helpers';

:host {
  .container {
    padding-top: 32px;

    &.bg-white {
      background-color: white;
    }

    .headline {
      font-size: 18px;
      .red-text {
        color: $blush;
      }
      p {
        line-height: 25px;
      }
    }

    .info {
      margin-top: 32px;
      margin-bottom: 48px;

      .remember-text {
        margin-bottom: 24px;
        font-size: 20px;
      }

      .note {
        margin-top: 16px;
        font-size: 18px;
      }
    }
  }
}
