<div class="container">
  <div  class="headline big-text blue-text">
    <p>Schedule requests for:
      <span class="bold-text red-text">{{scheduleMonth | amDateFormat:'MMMM YYYY' }}</span>
    </p>
    <p>Deadline:
      <span class="bold-text red-text">{{deadline | amDateFormat:'MMMM Do, YYYY' }}</span>
    </p>
  </div>

  <div class="info big-text">
    <p class="bold-text remember-text">
      Reminder:
    </p>
    <p class="note">The system will automatically save entries once logged you close the window or log out</p>

    <p class="note">Once the deadline has passed, any submission will not be allowed through the app.</p>
  </div>

  <pcl-button title="CREATE SCHEDULE REQUEST" (buttonClick)="start()"></pcl-button>
</div>


