@import '../../../../../../colors';
@import '../../../../../../mixins';
@import '../../../../../../helpers';

:host {
  display: block;
  position: relative;
  height: 100%;

  .letters-wrapper {
    @include centerer();

    .letter {
      line-height: 18px;
      text-align: center;
      font-weight: bold;
    }
  }
}
