@import '../../../../../../colors';
@import '../../../../../../mixins';
@import '../../../../../../helpers';



:host /deep/ {
  display: block;
  font-family: 'Open Sans', sans-serif;

  .date-selector-container {
    margin-top: 16px;

    &.active {
      .main-block {
        .placeholder {
          color: $tealish;
        }
        mat-icon {
          fill: $tealish;
        }
      }
      .bottom-line {
        background-color: $tealish;
      }
    }
    .main-block {
      position: relative;
      height: 18px;
      padding: 7px 0;

      .placeholder {
        font-size: 16px;
        text-align: left;
        color: $bluish-grey;
        line-height: 18px;
        transform-origin: 0 0;
        transition: transform .4s cubic-bezier(.25,.8,.25,1),color .4s cubic-bezier(.25,.8,.25,1),width .4s cubic-bezier(.25,.8,.25,1);
        position: absolute;
        left: 0;

        &.top {
          transform: translateY(-1.28125em) scale(.75) perspective(100px) translateZ(.001px);
          width: 133.3333333%;
        }
      }
      .value {
        font-size: 16px;
        line-height: 18px;
      }

      mat-icon {
        position: absolute;
        right: 0;
        top: 4px;
      }
    }
    .bottom-line {
      height: 1px;
      background-color: $light-blue-grey;
    }
  }
}
