<div class="date-selector-container"
     [class.active]="active"
     (click)="openCalendar($event)">
  <div class="main-block">
    <div class="placeholder" [class.top]="!!date || active">{{placeholder}}</div>
    <div class="value" *ngIf="!!date">{{date | amDateFormat:'L'}}</div>
    <md-icon [svgIcon]="'calendar'"></md-icon>
  </div>
  <div class="bottom-line"></div>
</div>

<!--<div class="calendar" [class.active]="showCalendar" [class.show-legend]="isLegendVisible">-->

  <!--<div class="calendar-header"-->
       <!--*ngIf="calendar?.isDayView()">-->
    <!--<div class="week-header-entry">S</div>-->
    <!--<div class="week-header-entry">M</div>-->
    <!--<div class="week-header-entry">T</div>-->
    <!--<div class="week-header-entry">W</div>-->
    <!--<div class="week-header-entry">T</div>-->
    <!--<div class="week-header-entry">F</div>-->
    <!--<div class="week-header-entry">S</div>-->
  <!--</div>-->

  <!--<div class="calendar-content-wrapper" [ngClass]="getTypeClass()">-->
    <!--<div class="calendar-view-type"-->
         <!--[ngClass]="{-->
            <!--'in-view': calendar?.isDayView(),-->
            <!--'below': calendar?.isMonthView() || calendar?.isYearView()-->
         <!--}">-->
      <!--<div class="calendar-content day"-->
           <!--*ngFor="let data of calendar?.data.day; let i = index;"-->
           <!--[ngClass]="{-->
           <!--previous: calendar?.data.day.length > 0 && i === 0,-->
           <!--selected: calendar?.data.day.length > 0 && i === 1 || calendar?.data.day.length === 0,-->
           <!--next: calendar?.data.day.length > 0 && i === 2-->
         <!--}">-->

        <!--<div class="calendar-entry-wrapper day-entry"-->
             <!--*ngFor="let entry of data.calendarEntries; let j = index">-->
          <!--<div class="calendar-entry"-->
               <!--(click)="!entry.disabled && onDayClick(entry.value)"-->
               <!--[ngClass]="calendar?.getClassesForDay(entry, j, data.calendarEntries)">-->
            <!--{{entry.title}}-->
            <!--<div class="event-day"-->
                 <!--*ngIf="calendar?.isEventThisDay(entry)"></div>-->
          <!--</div>-->
        <!--</div>-->

      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

<!--</div>-->
