@import '../../../../../styles';

:host /deep/ {
  min-height: 100%;
  box-sizing: border-box;
  display: block;
  background: $pale-grey;
  padding-bottom: 48px;
  padding-top: 45px;

  pcl-header {
    @include fixed(top 0 left 0 right 0);
    z-index: 20;
  }

  .container {

    pcl-no-entries-fallback {
      margin-top: 100px;
      margin-top: 15vh;
    }

    pcl-calendar {
      margin-bottom: 16px;
    }

    pcl-schedule-entry-card,
    pcl-master-schedule-card,
    pcl-schedule-day-card {
      margin-bottom: 8px;

      .left-block {
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
      }
    }
  }
}
