<pcl-header [title]="title$ | async"
            [showBackBtn]="true"
            (backBtnClick)="back()"></pcl-header>

<pcl-loader [show]="loading$ | async"></pcl-loader>

<div class="container">

  <pcl-calendar [type]="viewType$ | async"
                [initialDate]="selectedDate$ | async"
                [activeMonths]="activeMonths"
                (onDateChange)="onDateChange($event)"></pcl-calendar>

  <pcl-view-type-switcher *ngIf="type && type === 'physicians'"
                          [type]="viewType$ | async"></pcl-view-type-switcher>

  <!--LABOR CODE SECTION-->
  <section *ngIf="type && type !== 'physicians'">

    <pcl-no-entries-fallback *ngIf="!entries.length"
                             [icon]="'calendar-remove'"
                             [text]="'No one is scheduled to work'"></pcl-no-entries-fallback>

    <pcl-master-schedule-card *ngFor="let entry of entries"
                             [lineOne]="entry.SchedulePersonID"
                             [shiftCode]="entry.ShiftCode"
                             [lineTwo]="(entry.StartTime || '') + ' - ' + (entry.EndTime || '')"></pcl-master-schedule-card>
  </section>

  <!--PHYSICIAN SECTION-->
  <section *ngIf="type === 'physicians'">
    <div *ngIf="isDayView(viewType$ | async)">
      <pcl-schedule-entry-card *ngFor="let entry of entries"
                               [lineOne]="entry.LaborCode"
                               [shiftCode]="entry.ShiftCode"
                               [hideButton]="true"
                               [lineTwo]="(entry.StartTime || '') + ' - ' + (entry.EndTime || '')"></pcl-schedule-entry-card>

      <!--default cards-->
      <div *ngIf="!entries.length">
        <pcl-schedule-entry-card *ngFor="let entry of defaultEntries"
                                 [hideButton]="true"
                                 [shiftCode]="entry.ShiftCode"
                                 [lineOne]="entry.LaborCode"></pcl-schedule-entry-card>
      </div>
    </div>

    <div *ngIf="isNotDayView(viewType$ | async)">
      <pcl-schedule-day-card *ngFor="let day of groupedEntries"
                             class="week-view-entry"
                             [day]="day"
                             (click)="onDayClick(day)"></pcl-schedule-day-card>

      <pcl-no-entries-fallback *ngIf="!groupedEntries.length"
                               [icon]="'calendar-remove'"
                               [text]="'No schedule entries found'"></pcl-no-entries-fallback>
    </div>
  </section>

</div>
