<pcl-header [title]="title$ | async"
            [showBackBtn]="true"
            (backBtnClick)="back()"></pcl-header>

<pcl-loader [show]="loading$ | async"></pcl-loader>

<div class="container">

  <pcl-calendar [type]="viewType$ | async"
                [initialDate]="selectedDate$ | async"
                [activeMonths]="activeMonths$ | async"
                (onDateChange)="onDateChange($event)"></pcl-calendar>

  <pcl-view-type-switcher *ngIf="type && type === 'physicians'"
                          [type]="viewType$ | async"></pcl-view-type-switcher>

  <section *ngIf="type && type !== 'physicians'">
    <pcl-master-schedule-card *ngFor="let entry of entries$ | async"
                             [lineOne]="entry.SchedulePersonID"
                             [shiftCode]="entry.ShiftCode"
                             [lineTwo]="(entry.StartTime || '') + ' - ' + (entry.EndTime || '')"></pcl-master-schedule-card>
  </section>

  <section *ngIf="type === 'physicians'">
    <div *ngIf="isDayView(viewType$ | async)">
      <pcl-schedule-entry-card *ngFor="let entry of entries$ | async"
                               [lineOne]="entry.LaborCode"
                               [shiftCode]="entry.ShiftCode"
                               [hideButton]="true"
                               [lineTwo]="(entry.StartTime || '') + ' - ' + (entry.EndTime || '')"></pcl-schedule-entry-card>
    </div>

    <div *ngIf="isNotDayView(viewType$ | async)">
      <pcl-schedule-day-card *ngFor="let day of groupedEntries$ | async"
                             class="week-view-entry"
                             [day]="day"
                             (click)="onDayClick(day)"></pcl-schedule-day-card>
    </div>

    <!--Some hacks to show default cards, but prevent showing them during initialization and loading-->
    <div *ngIf="loading$"> <!--only if loading$ initialized-->
      <div *ngIf="!(loading$ | async)"> <!--only if loading$ finished-->
        <div *ngIf="(entries$ | async) && !(entries$ | async).length"> <!--only if no entries-->
          <pcl-schedule-entry-card *ngFor="let entry of defaultEntries"
                                   [hideButton]="true"
                                   [shiftCode]="entry.ShiftCode"
                                   [lineOne]="entry.LaborCode"></pcl-schedule-entry-card>
        </div>
      </div>
    </div>
  </section>

</div>
