@import '../../../../../styles';

:host /deep/ {
  display: block;
  padding: 46px 0 0 0;

  pcl-header {
    @include fixed(top 0 left 0 right 0);
    z-index: 1;
  }

  pcl-search-input {
    box-sizing: border-box;
    display: block;
    position: relative;
    height: 44px;
    background-color: #ffffff;
    box-shadow: inset 0 -1px 0 0 $light-blue-grey;

    .icon {
      @include absolute(top 0 left 0);
      @include size(16px);
      padding: 14px;

      md-icon {
        @include size(16px);
        fill: $bluish-grey;
      }
    }
    input {
      box-sizing: border-box;
      @extend .reset-styles;
      @extend .reset-input-styles;
      width: 100%;
      color: $gunmetal;
      line-height: 20px;
      padding: 12px 12px 12px 44px;

      @include input-placeholder {
        color: $bluish-grey;
      }
    }
  }

  pcl-search-results-list {

    pcl-search-results-group {

      .physician-group-header {
        @extend .small-bold-weak-text;
        padding-left: 16px;
        line-height: 24px;
        background-color: $pale-grey;
        box-shadow: inset 0 -1px 0 0 $light-blue-grey;
      }

      pcl-search-results-entry {
        display: block;
        width: 100%;
        background-color: #ffffff;
        box-shadow: inset 0 -1px 0 0 $light-blue-grey;

        .entry {
          @extend .big-text;
          line-height: 22px;
          padding: 13px 24px;
        }

        .provider-entry {
          @include clearfix();
          @extend .big-text;
          line-height: 22px;
          padding-left: 24px;
          .title {
            @extend .float-left;
            padding: 13px 0;
          }
          .contact-buttons {
            @extend .float-right;
            padding: 4px 0;

            .email-button {
              md-icon {
                transform: translateY(-2px);
              }
            }

            md-icon {
              fill: $tealish;
            }
          }
        }
      }
    }
  }
}
