<pcl-header [title]="title"
            [showBackBtn]="true"
            (backBtnClick)="back()"></pcl-header>

<pcl-search-input [searchText]="searchText | async"
                  (searchTextChange)="onSearchTextChange($event)"></pcl-search-input>

<pcl-search-results-list [list]="list$ | async"
                         (entryClick)="onEntryClick($event)"
                         (onContactPersonClick)="openContactPersonDialog($event)"></pcl-search-results-list>

<pcl-loader [show]="loading$ | async"></pcl-loader>
