<div class="content-block">
  <div class="title">Contact {{person?.FirstName + ' ' + person?.LastName}}</div>
  <div class="line"></div>
  <a class="link"
     href="tel:{{person?.MobilePhone}}">Call</a>
  <div class="line"></div>
  <a class="link"
     [href]="('sms:' + person?.MobilePhone) | safeUrl">SMS</a>
  <div class="line"></div>
  <a class="link"
     href="mailto:{{person?.Email}}">Email</a>
</div>

<div class="footer-block">
  <button class="link" (click)="close($event)">Cancel</button>
</div>
