<pcl-header [title]="formattedTitle(profile$ | async)"></pcl-header>
<div class="container">

  <pcl-loader [show]="initLoading"></pcl-loader>

  <pcl-calendar [type]="homeViewType$ | async"
                [initialDate]="selectedDate$ | async"
                [activeMonths]="activeMonths$ | async"
                (onDateChange)="onDateChange($event)"></pcl-calendar>

  <div class="countings" *ngIf="summaryEnabled && isNotDayView(homeViewType$ | async)">
    <div class="line">
      Total W count: <span>{{totalWorkCount$ | async}}</span>
    </div>
    <div class="line">
      Estimate earning: <span>{{estimateEarning$ | async | currency:'USD':true:'1.0-0'}}</span>
    </div>
  </div>

  <pcl-view-type-switcher [type]="homeViewType$ | async"></pcl-view-type-switcher>

  <!--DAY VIEW-->
  <div *ngIf="isDayView(homeViewType$ | async)">
    <pcl-schedule-entry-card *ngFor="let entry of entries"
                             [lineOne]="entry.LaborCode"
                             [shiftCode]="entry.ShiftCode"
                             [hideButton]="isEntryInPast(entry)"
                             [lineTwo]="(entry.StartTime || '') + ' - ' + (entry.EndTime || '')"
                             (shiftClick)="onShiftClick(entry)"></pcl-schedule-entry-card>

    <!--default cards-->
    <div *ngIf="!entries.length">
      <pcl-schedule-entry-card *ngFor="let entry of defaultEntries"
                               [hideButton]="true"
                               [shiftCode]="entry.ShiftCode"
                               [lineOne]="entry.LaborCode"></pcl-schedule-entry-card>
    </div>

  </div>

  <!--WEEK / 2-WEEK VIEW-->
  <div *ngIf="isNotDayView(homeViewType$ | async)">
    <pcl-schedule-day-card *ngFor="let day of groupedEntries$ | async"
                           class="week-view-entry"
                           [day]="day"
                           (click)="onDayClick(day)"></pcl-schedule-day-card>

    <pcl-no-entries-fallback *ngIf="!groupedEntries.length"
                             [icon]="'calendar-remove'"
                             [text]="'No schedule entries found'"></pcl-no-entries-fallback>

  </div>

</div>
