<pcl-header title="Some Title"></pcl-header>
<div class="container">

  <pcl-calendar [type]="homeViewType$ | async"
                [initialDate]="selectedDate$ | async"
                [activeMonths]="activeMonths$ | async"
                (onDateChange)="onDateChange($event)"></pcl-calendar>

  <pcl-schedule-entry-card *ngFor="let entry of entries$ | async"
                           [lineOne]="entry.LaborCode"
                           [lineTwo]="entry.ShiftCode"
                           (shiftClick)="onShiftClick(entry)"></pcl-schedule-entry-card>

</div>
