<pcl-header title="{{((profile$ | async)?.FirstName || '') + ' ' + ((profile$ | async)?.LastName || '')}}"></pcl-header>
<div class="container">

  <pcl-calendar [type]="homeViewType$ | async"
                [initialDate]="selectedDate$ | async"
                [activeMonths]="activeMonths$ | async"
                (onDateChange)="onDateChange($event)"></pcl-calendar>

  <div class="countings" *ngIf="isNotDayView(homeViewType$ | async)">
    <div class="line">
      Total W count: <span>{{totalWorkCount$ | async}}</span>
    </div>
    <div class="line">
      Estimate earning: <span>{{estimateEarning$ | async | currency:'USD':true:'1.0-0'}}</span>
    </div>
  </div>

  <pcl-view-type-switcher [type]="homeViewType$ | async"></pcl-view-type-switcher>

  <div *ngIf="isDayView(homeViewType$ | async)">
    <pcl-schedule-entry-card *ngFor="let entry of entries$ | async"
                             [lineOne]="entry.LaborCode"
                             [shiftCode]="entry.ShiftCode"
                             [lineTwo]="(entry.StartTime || '') + ' - ' + (entry.EndTime || '')"
                             (shiftClick)="onShiftClick(entry)"></pcl-schedule-entry-card>
  </div>

  <div *ngIf="isNotDayView(homeViewType$ | async)">
    <pcl-schedule-day-card *ngFor="let day of groupedEntries$ | async"
                           class="week-view-entry"
                           [day]="day"
                           (click)="onDayClick(day)"></pcl-schedule-day-card>
  </div>

  <!--Some hacks to show default cards, but prevent showing them during initialization and loading-->
  <div *ngIf="loading$"> <!--only if loading$ initialized-->
    <div *ngIf="!(loading$ | async)"> <!--only if loading$ finished-->
      <div *ngIf="(entries$ | async) && !(entries$ | async).length"> <!--only if no entries-->
        <pcl-schedule-entry-card *ngFor="let entry of defaultEntries"
                                 [hideButton]="true"
                                 [shiftCode]="entry.ShiftCode"
                                 [lineOne]="entry.LaborCode"></pcl-schedule-entry-card>
      </div>
    </div>
  </div>

</div>
