@import '../../../../styles';

:host {
  min-height: 100%;
  display: block;
  background: $pale-grey;
  padding-bottom: 48px;
  margin-top: 45px;

  pcl-header {
    @include fixed(top 0 left 0 right 0);
    z-index: 20;
  }

  .container {

    pcl-calendar {
      margin-bottom: 20px;
    }

    pcl-schedule-entry-card {
      margin-bottom: 8px;
    }
  }
}
