@import '../../../../styles';

:host {
  min-height: 100%;
  display: block;
  background: $pale-grey;
  padding-bottom: 48px;
  margin-top: 45px;

  pcl-header {
    @include fixed(top 0 left 0 right 0);
    z-index: 20;
  }

  .container {

    .countings {
      border-radius: 4px;
      background-color: #ffffff;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12), 0 0 0 0 rgba(0, 0, 0, 0.12);
      padding: 2px 10px;
      margin-bottom: 16px;

      .line {
        @extend .small-text;
        margin: 6px;
        span {
          @extend .bold-text;
        }
      }
    }

    pcl-calendar {
      margin-bottom: 16px;
    }

    pcl-schedule-entry-card {
      margin-bottom: 8px;
    }
  }
}
